/* CLIQZ BINDINGS  */

#PopupAutoCompleteRichResult {
  -moz-binding: url("chrome://cliqz/content/components.xml#urlbar-rich-result-popup-cliqz");
}

.autocomplete-richlistbox {
  -moz-binding: url("chrome://cliqz/content/components.xml#autocomplete-richlistbox-cliqz");
}

/* result item */
.autocomplete-richlistitem {
  -moz-binding: url("chrome://cliqz/content/components.xml#autocomplete-richlistitem-cliqz");
  padding: 0 0;
  border-bottom: 3px solid #cccccc;
}

.button-cliqz {
  -moz-binding: url("chrome://cliqz/content/components.xml#button-cliqz");
}

.cliqz-ac-site-icon-ssl {
  background: url(chrome://cliqzres/content/skin/lock_light.jpg) no-repeat center 70%;
}

.cliqz-left-separator {
  width: 20px;
  height: 24px;
}

.cliqz-separator-10 {
  width: 10px;
}

.cliqz-url-box {
  margin: 0px;
}

/* switch to tab*/
.ac-action-text {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: lightgrey;
  color: white;
  padding: 0 4px;
}

/* CLIQZ STYLE */

/* autocomplete popup container */
#PopupAutoCompleteRichResult {
  max-height: 150px;
}

.ac-type-icon {
  display: none;
}

/* progress bar */
#cliqz-progress {
  height: 5px;
  background-color: green;
}

.autocomplete-richlistitem[type="cliqz-results"] {
  /* background-color: green; */
}

.autocomplete-richlistitem[type="cliqz-suggestions"] {
  /* background-color: lightgreen; */
}

.autocomplete-richlistitem[type="favicon"] .ac-title-box, 
.autocomplete-richlistitem[type="bookmark"] .ac-title-box,
.autocomplete-richlistitem[type="switchtab"] .ac-title-box {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  font-weight: 400;
  color: #996699;
  padding: 10px 0 5px 0;
}

.autocomplete-richlistitem[type="cliqz-results"] .ac-title-box {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  font-weight: 400; 
  color: #003366;
  padding: 10px 0 5px 0;
}

/* source color */
.cliqz-ac-source-icon {
  width: 5px;
  height: 62px;
  border-right: 10px;
  transition: width 0.15s ease-in-out;
}

.autocomplete-richlistitem[type="cliqz-results"] .cliqz-ac-source-icon {
  background-color: #cccccc;
}

.autocomplete-richlistitem[type="cliqz-suggestions"] .cliqz-ac-source-icon {
  background-color: #ffffff;
}

/* history */
.autocomplete-richlistitem[type="favicon"] .cliqz-ac-source-icon {
  background-color: #996699;
  background-image: url(chrome://cliqzres/content/skin/history.png);
  background-repeat: no-repeat;
  background-position: right 5px center;
}

.autocomplete-richlistitem[type="bookmark"] .cliqz-ac-source-icon {
  background-color: #ffcc33;
  background-image: url(chrome://cliqzres/content/skin/favorite.png);
  background-repeat: no-repeat;
  background-position: right 5px center;
}



.autocomplete-richlistitem:hover .cliqz-ac-source-icon {
  width: 35px;
}
/*

.autocomplete-richlistitem[type="cliqz-results"]:hover .cliqz-ac-source-icon {
  width: 50px;
}
.autocomplete-richlistitem[type="cliqz-suggestions"]:hover .cliqz-ac-source-icon {
  background-color: lightgreen;
}

.autocomplete-richlistitem[type="favicon"]:hover .cliqz-ac-source-icon {
  background-color: #996699;
}

.autocomplete-richlistitem[type="bookmark"]:hover .cliqz-ac-source-icon {
  background-color: #ffcc33;
}



*/


/* HOVER COLOR */
/*
.autocomplete-richlistitem[type="cliqz-results"]:hover {
  background-color: #cccccc;
}

.autocomplete-richlistitem[type="cliqz-suggestions"]:hover {
  background-color: lightgreen;
}

.autocomplete-richlistitem[type="favicon"]:hover {
  background-color: #996699;
}

.autocomplete-richlistitem[type="bookmark"]:hover {
  background-color: #ffcc33;
}
*/

/*
.autocomplete-richlistitem[type="cliqz-results"]:hover {
  background: linear-gradient(to right, #cccccc, white 40px);
}

.autocomplete-richlistitem[type="cliqz-suggestions"]:hover {
  background: linear-gradient(to right, lightgreen, white 40px);
}

.autocomplete-richlistitem[type="favicon"]:hover {
  background: linear-gradient(to right, #996699, white 40px);
}

.autocomplete-richlistitem[type="bookmark"]:hover {
  background: linear-gradient(to right, #ffcc33, white 40px);
}
*/

.autocomplete-richlistitem:hover {
  border-color: #33cc99;
  /*background-color: lightgray;*/
}

.cliqz-ac-logo-icon {
  width: 64px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: left center;
  margin-top: 7px;
}

.cliqz-history {
  background: url(chrome://cliqzres/content/skin/visited.gif) no-repeat center center;
}

.cliqz-bookmark {
  background: url(chrome://cliqzres/content/skin/bookmarked.gif) no-repeat center center;
}

.cliqz-results {
  background: url(chrome://cliqzres/content/skin/un-bookmarked.gif) no-repeat center center;
}

.cliqz-ac-url-detail-box {
  padding: 0px 5px;
  border-right: 2px solid white;
}

.cliqz-ac-url-domain {
  /*font-weight: bold;*/
}

.cliqz-ac-url-host {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 9pt;
  color: #666666;
  font-weight: 400;
}

.cliqz-ac-url-path {
  font-family: Verdana, Geneva, sans-serif;
  /*font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
  font-size: 9pt;
  color: #cccccc;
  font-weight: 400;
}

.cliqz-autocomplete-container {
  
}

.cliqz-urlbar-message-search {
  font-family: Verdana, Geneva, sans-serif;
  color: white;
  background-color: #336699;
  margin: 1px;
  padding: 1px 5px;
  border-radius: 1px;
}

.cliqz-urlbar-message-navigate {
  font-family: Verdana, Geneva, sans-serif;
  color: white;
  background-color: #33cc99; 
  margin: 1px;
  padding: 1px 5px;
  border-radius: 1px;
}

/*
@media (max-width: 1250px) {
  #right-cliqz {
    display: none;
  }
}
@media (min-width: 1250px) {
  #right-cliqz {
    width: 250px;
    background-color: green;
  }
}
*/
#right-cliqz {
  display: none;
}

.cliqz-ac-image {
  width: 105px;
  height: 48px;
  padding-left: 20px;
  padding-top: 7px;
}

/* general autocomplete item styles */
.ac-title-box {
  height: 24px;
}

/* url container */
.ac-url-box {
  height: 24px;
  padding-bottom: 5px;
}

.ac-emphasize-text  {
  background-color: transparent;
  box-shadow: none;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  font-weight: 500; 
  /*color: #669999;*/
}

.autocomplete-richlistitem{
}

.autocomplete-richlistitem[type="bookmark"]{
}

.autocomplete-richlistitem[type="switchtab"]{
}
/* history */
.autocomplete-richlistitem[type="favicon"]{
}


/* misc */

.hidden {
  visibility: hidden;
  display: none !important;
}

/*
#urlbar {
    height: 30px !important;
    font-size: 30px !important;
}
*/

/* sidebar anchored in the right side 
hbox#browser { 
    direction: rtl !important;
     }  
hbox#browser > vbox {
    direction: ltr !important; 
    }

    */