/* -----------------------
* @COMMENT:
*   + Plz check the hp.tpl for wikipedia with images. thuy@cliqz.com. 12Mar2015
/* -----------------------

/* New class: for entity-generic-history to separate list of history entries from EZ material. */
#cliqz-results .cliqz-history-results { margin-top: 16px; }

/* Overrides corresponding line in browsers.css */
#cliqz-results .cliqz-pattern-title-h1, #cliqz-results .cliqz-pattern-title-h2, #cliqz-results .cliqz-pattern-title-h3 {
    margin-bottom: 8px;
}


/* ------- FLIGHT STATUS EZ thuy@cliqz.com*/
#cliqz-results .flightStatusEZ-flightNumber {color:#333333; font-size: 18px; overflow: hidden;}
#cliqz-results .flightStatusEZ-flightStatus {color:#C9C9C9; font-size: 12px;}

#cliqz-results .flightStatusEZ-plane-position{height: 38px}
#cliqz-results .flightStatusEZ-plane-position-plane-img {float:left; width: 30px; margin-top:7px; margin-right: 5px;}
#cliqz-results .flightStatusEZ-plane-position-bar { overflow: hidden; height: 10px; float:left; max-width: 338px; width: -moz-calc(100% - 35px); margin-top:15px; padding-right: 10px}
#cliqz-results .flightStatusEZ-plane-position-dot { overflow: visible; width: 10px; height: 10px; background: #74d463; position: relative; z-index: 2; left: 0%; border-radius: 50%;}
#cliqz-results .flightStatusEZ-plane-position-dot::after,  .flightStatusEZ-plane-position-dot::before{ content: ""; width: 99999px; height: 2px; background: #C9C9C9; display: block; position: absolute; top: 4px; z-index: 1;}
#cliqz-results .flightStatusEZ-plane-position-dot::before { right: 0; background-color: inherit; z-index: 3;}


#cliqz-results .flightStatusEZ-depart-arrival{color:#999999; clear:left; font-size:14px; max-width: 420px;}
#cliqz-results .flightStatusEZ-depart-arrival-name{color:#333333}
#cliqz-results .flightStatusEZ-depart,  .flightStatusEZ-arrival{ float:left; width:auto; max-width:-moz-calc(50% - 5px);overflow: hidden}
#cliqz-results .flightStatusEZ-arrival{float:right}
#cliqz-results .flightStatusEZ-depart-arrival-name{color:#333333}

/* ------- END FLIGHT STATUS EZ thuy@cliqz.com*/

/* Images search (beta) */
/*
#cliqz-results .cqz-result-images {
     padding: 3px 0px 0px 15px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cliqz-results .cqz-result-images-1 {
     height: 101px;
}

#cliqz-results .cqz-result-images-2 {
     height: 202px;
}

#cliqz-results .cqz-result-images-3 {
     height: 303px;
}

#cliqz-results .cqz-result-images .cqz-ez-images-title {
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 2px;
}

#cliqz-results .cqz-ez-title::after, #cliqz-results .cqz-result-images .cqz-ez-images-title .after {
    display: inline-block;
    background-size: auto 16px;
    background-position: 4px 2px;
    background-repeat: no-repeat;
    content: "";
    width: 999999999999999px;
    height: 18px;
    vertical-align: top;
}

#cliqz-results .cqz-result-images .cqz-ez-images-title::after {
  background-image: url(http://cdn.cliqz.com/extension/EZ/images/camera.png);
}


#cliqz-results .cqz-result-images .cliqz-images {
}


#cliqz-results .cqz-result-images .cliqz-image-item {
    display: inline-block;
    float: left;
    position: relative;
    padding: 1px 2px 1px 2px;
    border-radius: 10px;

}

#cliqz-results .cqz-result-images .cliqz-image-item img{
    display: block;
    border-radius: 10px;
}

#cliqz-results .cqz-result-images .cliqz-image-item:hover .cliqz-image-hilight {display: block;}


#cliqz-results .cqz-result-images .cliqz-image-hidden{
    background-color: black;
    filter: url(chrome://cliqzres/content/skin/blur.svg#blur);
    filter: blur(10px);
}

#cliqz-results .cqz-result-images .cliqz-image-clear{
    display: block;
    border-radius: 10px;
}

#cliqz-results .cqz-result-images .cliqz-image-hilight{
    display: none;
    white-space: normal;
    overflow: hidden;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0,0,0,0.65);
    position: absolute;
    font-family: Courier New;
    font-size:9px;
    bottom: +10px;
    z-index: 1;
}


#cliqz-results .cqz-result-images .cliqz-image-item > .cliqz-image-hilight:hover{
    text-overflow:inherit;
    overflow:visible;
    display:hidden;
}

#cliqz-results .cqz-result-images .cliqz-image-report{
    white-space: word-wrap;
    overflow: hidden;
    position: relative;
    top: -60%;
    left:5px;
    z-index: 5;
}
*/

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.fadeIn {
  opacity:1 !important;
  -webkit-transition : all 0.2s ease-in !important;
  -moz-transition : all 0.2s ease-in !important;
  -o-transition : all 0.2s ease-in !important;
  transition : all 0.2s ease-in !important;
}

.fadeOut {
  opacity:0 !important;
  -webkit-transition : all 0.2s ease-out !important;
  -moz-transition : all 0.2s ease-out !important;
  -o-transition : all 0.2s ease-out !important;
  transition : all 0.2s ease-out !important;
}

#cliqz-results .ez-news-toggle .entity-stories { display: none; }
#cliqz-results .ez-news-toggle .switcher { position: absolute; top: 22px; right: 22px; }
#cliqz-results .ez-news-toggle label { color: rgb(207,207,207); font-size: 18px; float: left; cursor: pointer; }
#cliqz-results .ez-news-toggle label.latest { right: 122px; text-align: right; }
#cliqz-results .ez-news-toggle label.trends { overflow: visible; position: relative; }
#cliqz-results .ez-news-toggle label.latest:after, #cliqz-results .ez-news label.trends:before {
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid rgb(207,207,207);
  display: inline-block;
  position: relative;
  top: 4px;
}
#cliqz-results .ez-news-toggle label.latest:after { margin-left: 10px; border-top-left-radius: 50%; border-bottom-left-radius: 50%; border-right: 0; }
#cliqz-results .ez-news-toggle label.trends:before { margin-right: 10px; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-left: 0;  }
#cliqz-results .ez-news-toggle label.trends:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: rgb(129,215,146);
  width: 14px;
  height: 14px;
  display: block;
  top: 7px;
  left: -15px;
  transition: left ease-in 0.1s;
}
#cliqz-results .ez-news-toggle input { display: none; }
#cliqz-results .ez-news-toggle input.latest:checked ~ .switcher > label.latest, #cliqz-results .ez-news input.trends:checked ~ .switcher > label.trends {
  color: rgb(126,217,133)
}
#cliqz-results .ez-news-toggle input.trends:checked ~ .switcher > label.trends:after { left: 1px; }
#cliqz-results .ez-news-toggle input:checked + div { display: block; }
