#PopupAutoCompleteRichResult {
  -moz-binding: url("chrome://cliqz/content/components.xml?v=0.4.16#autocomplete-rich-result-popup-cliqz");
}

.hidden {
    visibility: hidden;
    display: none !important;
}

.overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cliqz-result-box {
    overflow: scroll;
}

.cliqz-result-box>div>div {
    display: inline-block;
    vertical-align: middle;
}
/*
.cliqz-result-box * {
    border:1px solid black;
}
*/
.cliqz-result-left-box {
    width: 30px;
    text-align: center;
}

.cliqz-result-mid-box {
    overflow-x: hidden;
    overflow-y: scroll;
}

.cliqz-result-right-box {
}

.cliqz-result-title-box {
    font-size: 12pt;
    font-weight: 500;
}

.cliqz-result-url-box {
    font-size: 9pt;
    font-weight: 400;
}

.cliqz-result-url-host {
    color: #006666;
}

.cliqz-result-url-path {
    color: #cccccc;
}

.cliqz-result-url-ssl {
    padding-left: 13px;
    background: url(chrome://cliqzres/content/skin/lock_light.png) no-repeat 2px center;
}

.cliqz-result-type {
    height: 9px;
    width: 9px;
    border-radius: 50%;
    display: inline-block;
}

.cliqz-result-item-box {
    padding: 10px 0px;
    border-bottom: 1px solid #CCC;
}

.cliqz-result-item-box[type^="cliqz-results sources-"] .cliqz-result-type {
    background-color: #3399ff;
}

.cliqz-result-item-box[type="favicon"] .cliqz-result-type,
.cliqz-result-item-box[type="action favicon"] .cliqz-result-type {
    background-color: #cccccc;
    opacity: 0.5;
}

.cliqz-result-item-box[type="bookmark"] .cliqz-result-type,
.cliqz-result-item-box[type="action bookmark"] .cliqz-result-type,
.cliqz-result-item-box[type="tag"] .cliqz-result-type,
.cliqz-result-item-box[type="action tag"] .cliqz-result-type {
    background-color: #FFCC00;
}

.cliqz-logo {
    height: 36px;
    width: 36px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 36px 36px;
}