@font-face
{
    font-family: "Lato";
    src: url("fonts/Lato-Regular.ttf");
}

@font-face
{
    font-family: "Lato Bold";
    src: url("fonts/Lato-Bold.ttf");
}

@font-face
{
    font-family: "Lato Light";
    src: url("fonts/Lato-Light.ttf");
}

/* BROWSER */
#urlbar[focused="true"] {
	/*box-shadow: 0px 0px 0px black !important;*/
	box-shadow: 0 0 1px #3B99FC inset!important;
	/*border: 1px solid green !important;*/
}

/* end browser*/
#cliqz-results {
    height: 303px;
    position: relative;
    /* override linux default grey color */
    background: #fff;
    overflow-y: scroll;
}

.cqz-result-h1 {
	height: 302px;
	font-size: 14px;
}

.cqz-result-h2 {
	height: 201px;
	font-size: 14px;
}

.cqz-result-h3 {
	height: 100px;
	font-size: 14px;
}

.cqz-result-box {
	font-size: 14px;
	position: relative;
	font-family: Lato, Helvetica, sans-serif;
	color: #333333;
	border-bottom: 1px solid #CCC;
}

/*
.cqz-result-box:before {
	content: "";
	background-color: green;
	position: absolute;
	left: -20px;
	height: 16px;
	width: 16px;
	top: 50%;
	transform: translateY(-50%) rotate(42deg);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
*/

.cqz-result-selected {
	background-color: #333333;
	border-radius: 0 3px 0 0;
	position: absolute;
	height: 14px;
	width: 14px;
	top: 10px;
	left: -20px;
	z-index: 1;
	transform: rotate(42deg);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cqz-result-selected[active="true"] {
	left: -8px;
}

.cqz-result-box[selected="true"] {
	/*background-color: #eefafe;*/
}
/*
.cqz-result-box[selected="true"]:before {
	left: -8px;
}
*/
.cqz-result-box [url]{
    cursor: pointer;
}

.cqz-result-debug {
	float: right;
	font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: #aaa;
}

.cqz-result-center {
	width: 80%;
	padding: 14px 22px;
	display: inline-block;
	overflow: hidden;
  cursor: pointer;
}

/* visited result - history, bookmark, ...*/
.cqz-result-title {
	font-size: 18px;
	color: #8c275f;
  width: 90%;
}

.cqz-result-title span {
  color: gray;
}

/* unvisited result - cliqz */
.cqz-result-box[type^="cliqz-results sources-"] .cqz-result-title {
	color: #506bb8;
}

/*
.cqz-result-box[selected="true"] .cqz-result-title {
    font-size: 18.5px;
}

.cqz-result-box[selected="true"] .cqz-result {
    font-size: 14.5px;
}
*/


.cqz-result-url {
	color: #666666;
	/*text-overflow: clip !important;*/
	display: inline-block;
  width: 90%;
  margin-top: 6px;
}

.cqz-result-url-ssl {
    padding-left: 13px;
    background: url(chrome://cliqzres/content/skin/lock_light.png) no-repeat 2px 5px;
}

.cqz-result-path {
	visibility: hidden;
}
/*
.cqz-result-url:hover .cqz-result-path {
	visibility: visible;
}
*/
.cqz-result-desc {
    margin-top: 6px;
    max-height: 22px;
    vertical-align: top;
}

/*
    Common class for logo to be reused everywhere.
    Do not change this class if the properties are only dropdown-logo related!
    Change .cqz-result-logo instead
*/
.cliqz-brand-logo {
    /* container size/shape */
    width: 2.5em;
    height: 2.5em;
    padding: 0.37em;
    box-sizing: border-box;
    border-radius: 50%;
    /* text properties */
    line-height: 1.75em;
    text-align: center;
    font-weight: bold;
    color: white;
    overflow: hidden;
    /* background logo */
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

/* custom logo definitions */
.cqz-result-logo {
	margin-right: 18px;
	position: absolute;
	right: 0px;
    /* set the size of logo */
    font-size: 26px;
}

.cqz-image {
    display: inline-block;
    width: 114px; /* 16 */
    height: 64px; /* 9 */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 18px -4px 0px 22px;
    position: relative;
}

.cqz-image-news {
   position: relative;
   top: -14px;
}

.cqz-image-round {
  border-radius: 3px;
}

.cqz-image>p {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 2px 5px 2px 5px;
    position: absolute;
    right: 0px;
    bottom: -14px;
}

.cqz-result-text {
	text-align: center;
	width: 100%;
}

/* EZ generic */
.cqz-ez-title {
 font-size: 18px;
 background-size: 16px;
 background-repeat: no-repeat;
 background-position: right;
 display: inline-block;
 padding-right: 32px;
 margin-bottom: 0;
 cursor: pointer;
}

.cqz-ez-title:hover {
  text-decoration: underline;
}

.cqz-ez-generic-box {
 float: left;
 margin-top: 9px;
}

/* default btn colours */
.cqz-ez-generic-box .cqz-ez-btn:nth-of-type(1) {
 background-color: #5267a2;
}

.cqz-ez-generic-box .cqz-ez-btn:nth-of-type(2) {
 background-color: #1e5cdc;
}

.cqz-ez-generic-box .cqz-ez-btn:nth-of-type(3) {
 background-color: #5ea3f9;
}

.cqz-ez-generic-box .cqz-ez-btn {
 background-color: #2fc4fc;
}

.cqz-ez-generic-opt {
 background-color: #efefef;
 min-width: 130px;
 max-width: 174px;
 height: 132px;
 margin-left: 9px;
 text-align: center;
 box-sizing: border-box;
 padding: 7px 18px 0 18px;
 border-radius: 3px;
 color: #323232;
}

.cqz-ez-generic-opt div {
  background-repeat: no-repeat;
  height: 65px;
  width: 65px;
  margin: 14px auto;
  background-position: center;
  background-size: contain;
}

.cqz-ez-generic-elems {
 margin-top: 5px;
 overflow: hidden;
 height: 142px;
}

/* end EZ generic */

/* EZ banking */
.cqz-ez-banking-box {
	float: left;
	margin-top: 12px;
}

.cqz-ez-banking-box .cqz-ez-btn {
  margin-bottom: 5px;
}

.cqz-ez-banking-opt {
	background-color: #efefef;
	width: 110px;
	height: 100px;
	background-size: 60px auto;
	background-repeat: no-repeat;
	margin-left: 8px;
	background-position: 50% calc(70% - 20px);
	text-align: center;
	box-sizing: border-box;
  -mox-box-sizing: border-box;
	padding-top: 74px;
	border-radius: 3px;
	color: #323232;
}

.cqz-ez-banking-elems {
	margin-top: 10px;
}

.cqz-ez-banking-title {
	background-image: url(http://cdn.cliqz.com/extension/EZ/banking/icon.svg);
}

/* EZ end banking */


/* EZ news */
.cqz-ez-news-title {
	background-image: url(http://cdn.cliqz.com/extension/EZ/news/icon.svg);
  margin-bottom: 18px;
}

.entity-news-stories {
}

.entity-news-story {
  position: relative;
  height: 54px;
  margin-bottom: 9px;
}

.entity-news-story-description {
  vertical-align: top;
  padding: 0 0 0 9px;
}

.entity-news-story-title {
  color: #506bb8;
  max-width: 550px;
  font-size: 18px;
  max-height: 1em;
  overflow: hidden;
  line-height: 1em;
}

.entity-news-story:hover .entity-news-story-title {
    text-decoration: underline;
}
.entity-news-story-time {
  color: #d7011d;
  font-size: 14px;
  padding-top: 9px;
}

.entity-news-story-image {
  display: inline-block;
  background-color: #dddddd;
  width: 86px;
  height: 54px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.entity-news-story-image span {
  background-color: black;
  color: white;
  bottom: 0px;
  position: absolute;
  right: 0px;
  font-size: 12px;
  padding: 5px;
}

.entity-news-story-description {
  display: inline-block;
}

/* EZ news end */


/* EZ video */
.cqz-ez-video-title {
  background-image: url(http://cdn.cliqz.com/extension/EZ/video/logo.svg);
  margin-bottom: 18px;
}


.entity-video-title {
  color: #414141;
  font-size: 14px;
  margin-bottom: 5px;
}

.entity-video-title span {
  color: #1759a4;
}

.entity-video-title img {
  float: right;
  width: 48px;
  margin: -5px -5px 0 0;
}

.entity-video-stories {
}

.entity-video-story {
  position: relative;
  height: 54px;
  margin-bottom: 9px;
}

.entity-video-story-description {
  vertical-align: top;
  padding: 0 0 0 9px;
}

.entity-video-story-title {
  color: #506bb8;
  max-width: 550px;
  font-size: 18px;
  max-height: 1em;
  overflow: hidden;
  line-height: 1em;
}

.entity-video-story:hover .entity-video-story-title {
    text-decoration: underline;
}
.entity-video-story-time {
  color: #333333;
  font-size: 14px;
  padding-top: 9px;
}

.entity-video-story-image {
  display: inline-block;
  background-color: #dddddd;
  width: 86px;
  height: 54px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.entity-video-story-image span {
  background-color: black;
  color: white;
  bottom: 0px;
  position: absolute;
  right: 0px;
  font-size: 12px;
  padding: 5px;
}

.entity-video-story-description {
  display: inline-block;
}
/* EZ video end */

/* EZ portal */
.cqz-ez-portal-title {
  background-image: url(http://cdn.cliqz.com/extension/EZ/portal/EZ-portal.svg);
  margin-bottom: 18px;
}

.entity-portal-title {
  color: #414141;
  font-size: 14px;
  margin-bottom: 5px;
}

.entity-portal-title span {
  color: #1759a4;
}

.entity-portal-title img {
  float: right;
  width: 48px;
  margin: -5px -5px 0 0;
}

.entity-portal-stories {
}

.entity-portal-story {
  position: relative;
  height: 54px;
  margin-bottom: 9px;
}

.entity-portal-story-description {
  vertical-align: top;
  padding: 0 0 0 9px;
}

.entity-portal-story-title {
  color: #506bb8;
  max-width: 550px;
  font-size: 18px;
  max-height: 1em;
  overflow: hidden;
  line-height: 1em;
}

.entity-portal-story:hover .entity-video-story-title {
    text-decoration: underline;
}

.entity-portal-story-image {
  display: inline-block;
  background-color: #dddddd;
  width: 86px;
  height: 54px;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 3px 3px;
}

.entity-portal-story-description {
  display: inline-block;
}
/* EZ portal end */

/* Adult content */

.cqz-adult-bar {
  font-size: 14px;
  padding: 4px 10px;
  position: relative;
  bottom:0px;
}

.cqz-adult-bar img {
  height: 16px;
}

.cqz-adult-alert {
  color: #c3043e;
  background-image: url(http://cdn.cliqz.com/extension/adultfilter/red-alert.svg);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
  padding: 2px 8px 2px 30px;
  margin-top: 2px;
  display: inline-block;
}

.cqz-adult-btn {
  margin: 0 5px;
  cursor: pointer;
  color: white;
  background-color: #abc8e2;
  border-radius: 3px;
  padding: 4px 8px;
  text-align: center;
}

.cqz-adult-options-btn {
  background-color: #eaeaea;
  color: black;
  box-sizing: border-box;
  -mox-box-sizing: border-box;
  display: inline-block;
  margin-left: 20px;
}

.cqz-adult-options-btn:after {
  content: "⌃";
  top: 3px;
  left: 3px;
  position: relative;
}


.cqz-adult-options-btn:hover .cqz-adult-options {
  display: inline-block;
}

.cqz-adult-options {
  display: none;
  position: absolute;
  bottom: 28px;
  width: 113px;
  text-align: left;
  right: 15px;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  background-color: white;
}

.cqz-adult-options div {
  padding: 3px 5px 3px 20px;
}

.cqz-adult-options div:hover {
  background-color: #116cd6;
  color: white;
}

.cqz-adult-options div[selected="true"] {
  background-image: url(chrome://cliqzres/content/skin/checkmark.png);
  background-position: 1px center;
  background-repeat: no-repeat;
}

/* End audlt content */

/* EZ search */
.cqz-ez-search-title {
	background-image: url(http://cdn.cliqz.com/extension/EZ/search/icon.svg);
}

.cqz-ez-search-box {
  border: 1px solid #3E86FC;
  max-width: 371px;
  height: 20px;
  margin: 5px 0 15px 0px;
  background-color: white;
  border-radius: 0 3px 3px 0;
}

.cqz-ez-search-box-icon {
  background-color: #3E86FC;
  width: 20px;
  height: 20px;
  float: right;
}

.cqz-ez-search-box-input {
  vertical-align: top;
  font-size: 14px;
  width: 347px;
  height: 18px;
  border: none;
}

.cqz-ez-search-app {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 3px;
    margin-right: 4px;
    background-position: center 20%;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 56px;
    box-sizing: border-box;
    -mox-box-sizing: border-box;
    color: white;
    background-size: 35px auto;
}

/* EZ search end */


/*  EZ celeb */

.cliqz-celeb {
    padding: 18px 22px;
    font-size: 14px;
    height: 201px;
    position: relative;
    box-sizing: border-box;
    -mox-box-sizing: border-box;
    border-bottom: 1px solid #ccc
}

.cliqz-celeb .cqz-result-logo {
	margin-top: 40px;
}

.cqz-celeb-images {
    height: 64px;
    overflow: hidden;
    width: 60%;
}

.cqz-celeb-image {
    height: 64px;
    margin-right: 6px;
    border-radius: 3px;
}

.cqz-celeb-who {
    font-size: 18px;
    margin: 10px 0px 7px 0px;
    color: #506bb8;
}

.cqz-celeb-social {
    height: 22px;
    margin-top: 10px;
    margin-right: 9px;
}

.cqz-celeb-desc {
  font-size: 14px;
  line-height: 1em;
  height: 2.1em;
  overflow: hidden;
  width: 85%;
}
/* end EZ celeb */

.cqz-ez-btns {
	margin: 18px 0 18px 0;
}

.cqz-ez-btns .cqz-ez-btn {
  display: inline-block;
}

.cqz-ez-btn {
	border-radius: 3px;
	cursor: pointer;
	color: white;
	font-size: 14px;
  padding: 0 9px 2px 9px;
  line-height: 26px;
  margin: 0 7px 9px 0;
  max-width: 150px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cqz-ez-btn:hover, .cqz-ez-btn[arrow='true'] {
  background-color: #cccccc !important;
}

.cqz-result-box *[url]:hover {
	/*opacity: 0.85;*/
}

.cqz-result-box *[url] {
  /*
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
  */
}

.cqz-result-padding {
	padding: 18px 22px;
	box-sizing: border-box;
  -mox-box-sizing: border-box;
}

.cqz-result-box .cqz-result-padding {
	padding-top: 15px;
}

.cqz-vert-center1 {
  position: absolute;
}

.cqz-vert-center {
	position: absolute;
	top: 50%;
	transform: translateY(-49%);
}

.overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}


/* history */
.cliqz-pattern {
  padding-left: 19px;
}

.cqz-result-pattern {
  padding: 15px 22px;
  box-sizing: border-box;
}

.cliqz-pattern-result-container {
  white-space: nowrap;
  overflow:hidden;
}

.cliqz-pattern-title {
  color: #333333;
  cursor: default;
  background-image: url(chrome://cliqzres/content/skin/history_document.png);
  background-position: right 7px top 1px;
}

.cliqz-pattern-title:hover{
  text-decoration:none;
}

.cliqz-pattern-title-h1 {
  margin-bottom: 14px;
}

.cliqz-pattern-title-h2 {
  margin-bottom: 14px;
}

.cliqz-pattern-title-h3 {
  margin-bottom: 7px;
}

.cliqz-pattern-element {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 14px 14px;
  height: 16px;
  line-height: 14px;
  margin-bottom: 7px;
}

.cliqz-pattern-element-title {
  color: #8c275f;
  max-width: 50%;
  display: inline-block;
  font-size: 14px;
  height: 16px;
  line-height: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cliqz-pattern-element-link {
  max-width: 30%;
  margin-left: 8px;
  color: #999999;
  display: inline-block;
  height: 16px;
  line-height: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cliqz-pattern-logo {
  background-image: url(chrome://cliqzres/content/skin/cliqz.png);
  background-color: #efefef
}

/* END history */

/*  noResult  thuy@cliqz.com*/
.EZ-noResult-title {
  background-color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  height: 93.5px;
}

.EZ-noResult-title-H1 {
  position: relative;
  background-color: white;
  color: #333333;
  font-size: 20px;
  top: 54px;
  line-height: 100%;
}

.EZ-noResult-title-H2 {
  position: relative;
  background-color: white;
  color:#cccccc;
  line-height: 100%;
  top: 58px;
}

.EZ-noResult-logos {
  height: 54px;
  background-color: white;
  margin-top: 25px;
  text-align: center
}

.EZ-noResult-one-logo {
	width: 54px;
    height: 54px;
    border-radius: 50%;
    margin-left:7.5px;
    margin-right:7.5px;
    cursor: pointer;
    display: inline-block;
}

.EZ-noResult-one-logo > div {
    width: 34px;
    height: 34px;
    background-size: contain;
    margin: 10px auto;
    background-repeat: no-repeat;
    background-position: center center;
}


.EZ-noResult-bottom-logo{
     margin-top: 60px;
     background-color:white;
     height: 20px;
     text-align: center
}

.EZ-noResult-Cliqz-logo{
    height: 20px;
}

/* END noResult */

/* --------- TimeEZ ----------- thuy@cliqz.com */
.EZ-time-bigcontainer{
 padding-left: 0px;
 background-color: white;
 height: 90px;
 text-align: center;
}


.EZ-time-location{
 position: relative;
 top: 17px;
 font-size: 14px;
 color: black;
}

.EZ-time-time{
 padding-left: 5px;
 position: relative;
 top: 40%;
 transform: translateY(-50%);
 font-size: 20px;
 color: black;
 font-weight: 500;
}

.EZ-time-timezone{
 padding-left: 5px;
 position: relative;
 top: 40%;
 transform: translateY(-50%);
 font-size: 14px;
 color: silver;
}
/* END TimeEZ */


.cqz-one-line {
  max-height: 1.3em;
  max-width: 85%;
  overflow: hidden;
}
/*---------- CLIQZ EZ ---------- thuy@cliqz.com--------------*/
.EZ-Cliqz-Header{
height: 58px;
background-color: white;
background-repeat: no-repeat;
background-size: 76px 22px;
background-position: 22px 18px;
margin-right: 18px;
}

.EZ-Cliqz_Header-Contact-icon{
  height: 22px;
  width: 22px;
  float: right;
  margin-left: 9px;
  margin-top: 18px;
}
.EZ-Cliqz-Body-H1{
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
line-height: 100%;
font-size: 20px;
padding-top:15px;
}

.EZ-Cliqz-Body-H2{
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
line-height: 110%;
font-size: 20px;
padding-top:5px;
}

.EZ-Cliqz-Footer{
 margin-left: 22px;
 text-align: left;
 margin-top: 17px;
}

.EZ-Cliqz-Footnote-tile{
  padding-top:7px;
  padding-bottom: 9px;
  background-color: silver;
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 3px;
  margin-right: 9px;
  float: left;
  color: white;
}
/* END CLIQZEZ*/

/* EZ Currency */

.EZ-currency {
 margin-left: 18px
}

.ez-feedback {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #cccccc;
}

.cqz-link {
  color: #88baf8;
  margin-right: 10px;
}
