.cf:after {
  content: "";
  display: table;
  clear: both; }

.entity-banking-container {
  height: 170px;
  overflow: hidden;
  padding: 0px 16px;
  position: relative;
}
  .entity-banking-container .entity-banking-logo {
    height: 100%;
    position: absolute;
    right: 30px;
  }
  .entity-banking-container .entity-banking-meta {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 10px;
    height: 32px;
    position: absolute;
    bottom: 8px;
    left: 35px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.4); }
    .entity-banking-container .entity-banking-meta strong {
      color: rgba(0, 0, 0, 0.8); }
    .entity-banking-container .entity-banking-meta b {
      color: rgba(0, 0, 0, 0.6);
      font-weight: normal; }
    .entity-banking-container .entity-banking-meta .link {
      text-decoration: underline;
      color: blue; }
  .entity-banking-container .entity-banking-call2action {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0 16px;
    position: absolute;
    top: 8px;
    left: 35px; }
    .entity-banking-container .entity-banking-call2action .item-label {
      float: left;
      margin-right: 16px; }
      .entity-banking-container .entity-banking-call2action .item-label h3 {
        font-size: 12px;
        font-weight: normal;
        padding: 0;
        margin: 0;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.5); }
    .entity-banking-container .entity-banking-call2action .item {
      height: 96px;
      background-color: #eee;
      width: 96px;
      float: left;
      position: relative;
      border-radius: 8px;
      overflow: hidden;
      margin-right: 12px;
      text-align: center;
      cursor: pointer; }
      .entity-banking-container .entity-banking-call2action .item.green {
        background-color: #19a7bc; }
        .entity-banking-container .entity-banking-call2action .item.green:hover {
          background-color: #26cae2; }
      .entity-banking-container .entity-banking-call2action .item.blue {
        background-color: #1693A5; }
        .entity-banking-container .entity-banking-call2action .item.blue:hover {
          background-color: #1cbbd2; }
      .entity-banking-container .entity-banking-call2action .item img {
        width: 64px;
        height: 64px;
        margin: 4px 0 0; }
      .entity-banking-container .entity-banking-call2action .item .item__title {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 12px;
        line-height: 28px;
        background-color: rgba(0, 0, 0, 0.15);
        color: #fff;
        text-align: center;
        font-weight: bold; }
    .entity-banking-container .entity-banking-call2action .item-label.small .item {
      height: 44px;
      width: 96px;
      float: none;
      margin-bottom: 8px; }
      .entity-banking-container .entity-banking-call2action .item-label.small .item .item__title {
        line-height: 44px; }
