.logo-123rf-com {
	background-image: url(http://cdnlogos.cliqz.com/123rf.com.png);
}
.logo-1jux-net {
	background-image: url(http://cdnlogos.cliqz.com/1jux.net.png);
}
.logo-1und1-de {
	background-image: url(http://cdnlogos.cliqz.com/1und1.de.png);
}
.logo-888casino-com {
	background-image: url(http://cdnlogos.cliqz.com/888casino.com.png);
}
.logo-9gag-com {
	background-image: url(http://cdnlogos.cliqz.com/9gag.com.png);
}
.logo-abakus-internet-marketing-de {
	background-image: url(http://cdnlogos.cliqz.com/abakus-internet-marketing.de.png);
}
.logo-abendblatt-de {
	background-image: url(http://cdnlogos.cliqz.com/abendblatt.de.png);
}
.logo-abendzeitung-muenchen-de {
	background-image: url(http://cdnlogos.cliqz.com/abendzeitung-muenchen.de.png);
}
.logo-about-com {
	background-image: url(http://cdnlogos.cliqz.com/about.com.png);
}
.logo-ad2games-com {
	background-image: url(http://cdnlogos.cliqz.com/ad2games.com.png);
}
.logo-adac-de {
	background-image: url(http://cdnlogos.cliqz.com/adac.de.png);
}
.logo-adcash-com {
	background-image: url(http://cdnlogos.cliqz.com/adcash.com.png);
}
.logo-addthis-com {
	background-image: url(http://cdnlogos.cliqz.com/addthis.com.png);
}
.logo-adf-ly {
	background-image: url(http://cdnlogos.cliqz.com/adf.ly.png);
}
.logo-adobe-com {
	background-image: url(http://cdnlogos.cliqz.com/adobe.com.png);
}
.logo-adscale-de {
	background-image: url(http://cdnlogos.cliqz.com/adscale.de.png);
}
.logo-adtech-info {
	background-image: url(http://cdnlogos.cliqz.com/adtech.info.png);
}
.logo-afterbuy-de {
	background-image: url(http://cdnlogos.cliqz.com/afterbuy.de.png);
}
.logo-airberlin-com {
	background-image: url(http://cdnlogos.cliqz.com/airberlin.com.png);
}
.logo-alibaba-com {
	background-image: url(http://cdnlogos.cliqz.com/alibaba.com.png);
}
.logo-aliexpress-com {
	background-image: url(http://cdnlogos.cliqz.com/aliexpress.com.png);
}
.logo-all-inkl-com {
	background-image: url(http://cdnlogos.cliqz.com/all-inkl.com.png);
}
.logo-alternate-de {
	background-image: url(http://cdnlogos.cliqz.com/alternate.de.png);
}
.logo-amazon {
	background-image: url(http://cdnlogos.cliqz.com/amazon.png);
}
.logo-aws-amazon-com {
	background-image: url(http://cdnlogos.cliqz.com/aws.amazon.com.png);
}
.logo-amazonaws-com {
	background-image: url(http://cdnlogos.cliqz.com/amazonaws.com.png);
}
.logo-androidpit-de {
	background-image: url(http://cdnlogos.cliqz.com/androidpit.de.png);
}
.logo-anyoption-com {
	background-image: url(http://cdnlogos.cliqz.com/anyoption.com.png);
}
.logo-aol {
	background-image: url(http://cdnlogos.cliqz.com/aol.png);
}
.logo-apotheken-umschau-de {
	background-image: url(http://cdnlogos.cliqz.com/apotheken-umschau.de.png);
}
.logo-apple-com {
	background-image: url(http://cdnlogos.cliqz.com/apple.com.png);
}
.logo-ariva-de {
	background-image: url(http://cdnlogos.cliqz.com/ariva.de.png);
}
.logo-ask-com {
	background-image: url(http://cdnlogos.cliqz.com/ask.com.png);
}
.logo-ask-fm {
	background-image: url(http://cdnlogos.cliqz.com/ask.fm.png);
}
.logo-autobild-de {
	background-image: url(http://cdnlogos.cliqz.com/autobild.de.png);
}
.logo-autoscout24-de {
	background-image: url(http://cdnlogos.cliqz.com/autoscout24.de.png);
}
.logo-avg-com {
	background-image: url(http://cdnlogos.cliqz.com/avg.com.png);
}
.logo-avira-com {
	background-image: url(http://cdnlogos.cliqz.com/avira.com.png);
}
.logo-bab-la {
	background-image: url(http://cdnlogos.cliqz.com/bab.la.png);
}
.logo-badoo-com {
	background-image: url(http://cdnlogos.cliqz.com/badoo.com.png);
}
.logo-bahn-de {
	background-image: url(http://cdnlogos.cliqz.com/bahn.de.png);
}
.logo-baur-de {
	background-image: url(http://cdnlogos.cliqz.com/baur.de.png);
}
.logo-bayern-de {
	background-image: url(http://cdnlogos.cliqz.com/bayern.de.png);
}
.logo-bbc-com {
	background-image: url(http://cdnlogos.cliqz.com/bbc.com.png);
}
.logo-berlin-de {
	background-image: url(http://cdnlogos.cliqz.com/berlin.de.png);
}
.logo-berliner-sparkasse-de {
	background-image: url(http://cdnlogos.cliqz.com/berliner-sparkasse.de.png);
}
.logo-bet365-com {
	background-image: url(http://cdnlogos.cliqz.com/bet365.com.png);
}
.logo-bild-de {
	background-image: url(http://cdnlogos.cliqz.com/bild.de.png);
}
.logo-billiger-de {
	background-image: url(http://cdnlogos.cliqz.com/billiger.de.png);
}
.logo-bing-com {
	background-image: url(http://cdnlogos.cliqz.com/bing.com.png);
}
.logo-bitshare-com {
	background-image: url(http://cdnlogos.cliqz.com/bitshare.com.png);
}
.logo-blogger-com {
	background-image: url(http://cdnlogos.cliqz.com/blogger.com.png);
}
.logo-bonprix-de {
	background-image: url(http://cdnlogos.cliqz.com/bonprix.de.png);
}
.logo-booking-com {
	background-image: url(http://cdnlogos.cliqz.com/booking.com.png);
}
.logo-brands4friends-de {
	background-image: url(http://cdnlogos.cliqz.com/brands4friends.de.png);
}
.logo-brigitte-de {
	background-image: url(http://cdnlogos.cliqz.com/brigitte.de.png);
}
.logo-bundesliga-de {
	background-image: url(http://cdnlogos.cliqz.com/bundesliga.de.png);
}
.logo-bunte-de {
	background-image: url(http://cdnlogos.cliqz.com/bunte.de.png);
}
.logo-buzzfeed-com {
	background-image: url(http://cdnlogos.cliqz.com/buzzfeed.com.png);
}
.logo-bwin-com {
	background-image: url(http://cdnlogos.cliqz.com/bwin.com.png);
}
.logo-check24-de {
	background-image: url(http://cdnlogos.cliqz.com/check24.de.png);
}
.logo-chefkoch-de {
	background-image: url(http://cdnlogos.cliqz.com/chefkoch.de.png);
}
.logo-chip-de {
	background-image: url(http://cdnlogos.cliqz.com/chip.de.png);
}
.logo-ciao-de {
	background-image: url(http://cdnlogos.cliqz.com/ciao.de.png);
}
.logo-cleverreach-com {
	background-image: url(http://cdnlogos.cliqz.com/cleverreach.com.png);
}
.logo-cnet-com {
	background-image: url(http://cdnlogos.cliqz.com/cnet.com.png);
}
.logo-cnn-com {
	background-image: url(http://cdnlogos.cliqz.com/cnn.com.png);
}
.logo-codecanyon-net {
	background-image: url(http://cdnlogos.cliqz.com/codecanyon.net.png);
}
.logo-comdirect-de {
	background-image: url(http://cdnlogos.cliqz.com/comdirect.de.png);
}
.logo-commerzbanking-de {
	background-image: url(http://cdnlogos.cliqz.com/commerzbanking.de.png);
}
.logo-computerbase-de {
	background-image: url(http://cdnlogos.cliqz.com/computerbase.de.png);
}
.logo-computerbild-de {
	background-image: url(http://cdnlogos.cliqz.com/computerbild.de.png);
}
.logo-comunio-de {
	background-image: url(http://cdnlogos.cliqz.com/comunio.de.png);
}
.logo-conduit-com {
	background-image: url(http://cdnlogos.cliqz.com/conduit.com.png);
}
.logo-cosmiq-de {
	background-image: url(http://cdnlogos.cliqz.com/cosmiq.de.png);
}
.logo-cylex-de {
	background-image: url(http://cdnlogos.cliqz.com/cylex.de.png);
}
.logo-dailymotion-com {
	background-image: url(http://cdnlogos.cliqz.com/dailymotion.com.png);
}
.logo-daserste-de {
	background-image: url(http://cdnlogos.cliqz.com/daserste.de.png);
}
.logo-dasoertliche-de {
	background-image: url(http://cdnlogos.cliqz.com/dasoertliche.de.png);
}
.logo-dastelefonbuch-de {
	background-image: url(http://cdnlogos.cliqz.com/dastelefonbuch.de.png);
}
.logo-der-postillon-com {
	background-image: url(http://cdnlogos.cliqz.com/der-postillon.com.png);
}
.logo-deutsche-bank-de {
	background-image: url(http://cdnlogos.cliqz.com/deutsche-bank.de.png);
}
.logo-deutschepost-de {
	background-image: url(http://cdnlogos.cliqz.com/deutschepost.de.png);
}
.logo-deutsche-startups-de {
	background-image: url(http://cdnlogos.cliqz.com/deutsche-startups.de.png);
}
.logo-deutsche-wirtschafts-nachrichten-de {
	background-image: url(http://cdnlogos.cliqz.com/deutsche-wirtschafts-nachrichten.de.png);
}
.logo-dhl-de {
	background-image: url(http://cdnlogos.cliqz.com/dhl.de.png);
}
.logo-directrev-com {
	background-image: url(http://cdnlogos.cliqz.com/directrev.com.png);
}
.logo-douglas-de {
	background-image: url(http://cdnlogos.cliqz.com/douglas.de.png);
}
.logo-dropbox-com {
	background-image: url(http://cdnlogos.cliqz.com/dropbox.com.png);
}
.logo-duden-de {
	background-image: url(http://cdnlogos.cliqz.com/duden.de.png);
}
.logo-dw-de {
	background-image: url(http://cdnlogos.cliqz.com/dw.de.png);
}
.logo-ebay {
	background-image: url(http://cdnlogos.cliqz.com/ebay.png);
}
.logo-ebesucher-de {
	background-image: url(http://cdnlogos.cliqz.com/ebesucher.de.png);
}
.logo-ero-advertising-com {
	background-image: url(http://cdnlogos.cliqz.com/ero-advertising.com.png);
}
.logo-esprit-online-shop-com {
	background-image: url(http://cdnlogos.cliqz.com/esprit-online-shop.com.png);
}
.logo-europa-eu {
	background-image: url(http://cdnlogos.cliqz.com/europa.eu.png);
}
.logo-eventim-de {
	background-image: url(http://cdnlogos.cliqz.com/eventim.de.png);
}
.logo-expedia-de {
	background-image: url(http://cdnlogos.cliqz.com/expedia.de.png);
}
.logo-express-de {
	background-image: url(http://cdnlogos.cliqz.com/express.de.png);
}
.logo-facebook-com {
	background-image: url(http://cdnlogos.cliqz.com/facebook.com.png);
}
.logo-faz-net {
	background-image: url(http://cdnlogos.cliqz.com/faz.net.png);
}
.logo-feedly-com {
	background-image: url(http://cdnlogos.cliqz.com/feedly.com.png);
}
.logo-fiducia-de {
	background-image: url(http://cdnlogos.cliqz.com/fiducia.de.png);
}
.logo-files-wordpress-com {
	background-image: url(http://cdnlogos.cliqz.com/files.wordpress.com.png);
}
.logo-filmstarts-de {
	background-image: url(http://cdnlogos.cliqz.com/filmstarts.de.png);
}
.logo-finanzen-net {
	background-image: url(http://cdnlogos.cliqz.com/finanzen.net.png);
}
.logo-finya-de {
	background-image: url(http://cdnlogos.cliqz.com/finya.de.png);
}
.logo-fiverr-com {
	background-image: url(http://cdnlogos.cliqz.com/fiverr.com.png);
}
.logo-fluege-de {
	background-image: url(http://cdnlogos.cliqz.com/fluege.de.png);
}
.logo-flyeralarm-com {
	background-image: url(http://cdnlogos.cliqz.com/flyeralarm.com.png);
}
.logo-focus-de {
	background-image: url(http://cdnlogos.cliqz.com/focus.de.png);
}
.logo-fotocommunity-de {
	background-image: url(http://cdnlogos.cliqz.com/fotocommunity.de.png);
}
.logo-fotolia-com {
	background-image: url(http://cdnlogos.cliqz.com/fotolia.com.png);
}
.logo-freenet-de {
	background-image: url(http://cdnlogos.cliqz.com/freenet.de.png);
}
.logo-friendscout24-de {
	background-image: url(http://cdnlogos.cliqz.com/friendscout24.de.png);
}
.logo-fr-online-de {
	background-image: url(http://cdnlogos.cliqz.com/fr-online.de.png);
}
.logo-fussball-de {
	background-image: url(http://cdnlogos.cliqz.com/fussball.de.png);
}
.logo-gameforge-com {
	background-image: url(http://cdnlogos.cliqz.com/gameforge.com.png);
}
.logo-gamestar-de {
	background-image: url(http://cdnlogos.cliqz.com/gamestar.de.png);
}
.logo-geizhals-de {
	background-image: url(http://cdnlogos.cliqz.com/geizhals.de.png);
}
.logo-gelbeseiten-de {
	background-image: url(http://cdnlogos.cliqz.com/gelbeseiten.de.png);
}
.logo-giga-de {
	background-image: url(http://cdnlogos.cliqz.com/giga.de.png);
}
.logo-github-com {
	background-image: url(http://cdnlogos.cliqz.com/github.com.png);
}
.logo-glispa-com {
	background-image: url(http://cdnlogos.cliqz.com/glispa.com.png);
}
.logo-gmx-net {
	background-image: url(http://cdnlogos.cliqz.com/gmx.net.png);
}
.logo-golem-de {
	background-image: url(http://cdnlogos.cliqz.com/golem.de.png);
}
.logo-goodgamestudios-com {
	background-image: url(http://cdnlogos.cliqz.com/goodgamestudios.com.png);
}
.logo-google {
	background-image: url(http://cdnlogos.cliqz.com/google.png);
}
.logo-mail-google { 
	background-image: url(http://cdnlogos.cliqz.com/mail.google.png);	
}
.logo-maps-google { 
	background-image: url(http://cdnlogos.cliqz.com/maps.google.png);	
}
.logo-groupon-de {
	background-image: url(http://cdnlogos.cliqz.com/groupon.de.png);
}
.logo-gruenderszene-de {
	background-image: url(http://cdnlogos.cliqz.com/gruenderszene.de.png);
}
.logo-guenstiger-de {
	background-image: url(http://cdnlogos.cliqz.com/guenstiger.de.png);
}
.logo-gutefrage-net {
	background-image: url(http://cdnlogos.cliqz.com/gutefrage.net.png);
}
.logo-hamburg-de {
	background-image: url(http://cdnlogos.cliqz.com/hamburg.de.png);
}
.logo-handelsblatt-com {
	background-image: url(http://cdnlogos.cliqz.com/handelsblatt.com.png);
}
.logo-hardwareluxx-de {
	background-image: url(http://cdnlogos.cliqz.com/hardwareluxx.de.png);
}
.logo-haspa-de {
	background-image: url(http://cdnlogos.cliqz.com/haspa.de.png);
}
.logo-heise-de {
	background-image: url(http://cdnlogos.cliqz.com/heise.de.png);
}
.logo-helpster-de {
	background-image: url(http://cdnlogos.cliqz.com/helpster.de.png);
}
.logo-hifi-forum-de {
	background-image: url(http://cdnlogos.cliqz.com/hifi-forum.de.png);
}
.logo-hm-com {
	background-image: url(http://cdnlogos.cliqz.com/hm.com.png);
}
.logo-holidaycheck-de {
	background-image: url(http://cdnlogos.cliqz.com/holidaycheck.de.png);
}
.logo-home24-de {
	background-image: url(http://cdnlogos.cliqz.com/home24.de.png);
}
.logo-hosteurope-de {
	background-image: url(http://cdnlogos.cliqz.com/hosteurope.de.png);
}
.logo-hp-com {
	background-image: url(http://cdnlogos.cliqz.com/hp.com.png);
}
.logo-hrs-de {
	background-image: url(http://cdnlogos.cliqz.com/hrs.de.png);
}
.logo-huffingtonpost-de {
	background-image: url(http://cdnlogos.cliqz.com/huffingtonpost.de.png);
}
.logo-hypovereinsbank-de {
	background-image: url(http://cdnlogos.cliqz.com/hypovereinsbank.de.png);
}
.logo-idealo-de {
	background-image: url(http://cdnlogos.cliqz.com/idealo.de.png);
}
.logo-ikea-com {
	background-image: url(http://cdnlogos.cliqz.com/ikea.com.png);
}
.logo-imdb-com {
	background-image: url(http://cdnlogos.cliqz.com/imdb.com.png);
}
.logo-imgur-com {
	background-image: url(http://cdnlogos.cliqz.com/imgur.com.png);
}
.logo-immobilienscout24-de {
	background-image: url(http://cdnlogos.cliqz.com/immobilienscout24.de.png);
}
.logo-immonet-de {
	background-image: url(http://cdnlogos.cliqz.com/immonet.de.png);
}
.logo-immowelt-de {
	background-image: url(http://cdnlogos.cliqz.com/immowelt.de.png);
}
.logo-indeed-com {
	background-image: url(http://cdnlogos.cliqz.com/indeed.com.png);
}
.logo-ing-diba-de {
	background-image: url(http://cdnlogos.cliqz.com/ing-diba.de.png);
}
.logo-instagram-com {
	background-image: url(http://cdnlogos.cliqz.com/instagram.com.png);
}
.logo-internetworld-de {
	background-image: url(http://cdnlogos.cliqz.com/internetworld.de.png);
}
.logo-istockphoto-com {
	background-image: url(http://cdnlogos.cliqz.com/istockphoto.com.png);
}
.logo-jameda-de {
	background-image: url(http://cdnlogos.cliqz.com/jameda.de.png);
}
.logo-jappy-de {
	background-image: url(http://cdnlogos.cliqz.com/jappy.de.png);
}
.logo-java-com {
	background-image: url(http://cdnlogos.cliqz.com/java.com.png);
}
.logo-joomla-org {
	background-image: url(http://cdnlogos.cliqz.com/joomla.org.png);
}
.logo-jtl-software-de {
	background-image: url(http://cdnlogos.cliqz.com/jtl-software.de.png);
}
.logo-kabeldeutschland-de {
	background-image: url(http://cdnlogos.cliqz.com/kabeldeutschland.de.png);
}
.logo-kalaydo-de {
	background-image: url(http://cdnlogos.cliqz.com/kalaydo.de.png);
}
.logo-kaufda-de {
	background-image: url(http://cdnlogos.cliqz.com/kaufda.de.png);
}
.logo-kicker-de {
	background-image: url(http://cdnlogos.cliqz.com/kicker.de.png);
}
.logo-kicktipp-de {
	background-image: url(http://cdnlogos.cliqz.com/kicktipp.de.png);
}
.logo-kinox-to {
	background-image: url(http://cdnlogos.cliqz.com/kinox.to.png);
}
.logo-klamm-de {
	background-image: url(http://cdnlogos.cliqz.com/klamm.de.png);
}
.logo-kleiderkreisel-de {
	background-image: url(http://cdnlogos.cliqz.com/kleiderkreisel.de.png);
}
.logo-koramgame-com {
	background-image: url(http://cdnlogos.cliqz.com/koramgame.com.png);
}
.logo-ksta-de {
	background-image: url(http://cdnlogos.cliqz.com/ksta.de.png);
}
.logo-kununu-com {
	background-image: url(http://cdnlogos.cliqz.com/kununu.com.png);
}
.logo-ladenzeile-de {
	background-image: url(http://cdnlogos.cliqz.com/ladenzeile.de.png);
}
.logo-lidl-de {
	background-image: url(http://cdnlogos.cliqz.com/lidl.de.png);
}
.logo-ligatus-com {
	background-image: url(http://cdnlogos.cliqz.com/ligatus.com.png);
}
.logo-linguee-de {
	background-image: url(http://cdnlogos.cliqz.com/linguee.de.png);
}
.logo-linkcrypt-ws {
	background-image: url(http://cdnlogos.cliqz.com/linkcrypt.ws.png);
}
.logo-linkedin-com {
	background-image: url(http://cdnlogos.cliqz.com/linkedin.com.png);
}
.logo-livejournal-com {
	background-image: url(http://cdnlogos.cliqz.com/livejournal.com.png);
}
.logo-lotto24-de {
	background-image: url(http://cdnlogos.cliqz.com/lotto24.de.png);
}
.logo-lovoo-net {
	background-image: url(http://cdnlogos.cliqz.com/lovoo.net.png);
}
.logo-lufthansa-com {
	background-image: url(http://cdnlogos.cliqz.com/lufthansa.com.png);
}
.logo-mail-ru {
	background-image: url(http://cdnlogos.cliqz.com/mail.ru.png);
}
.logo-manager-magazin-de {
	background-image: url(http://cdnlogos.cliqz.com/manager-magazin.de.png);
}
.logo-markt-de {
	background-image: url(http://cdnlogos.cliqz.com/markt.de.png);
}
.logo-mbs-potsdam-de {
	background-image: url(http://cdnlogos.cliqz.com/mbs-potsdam.de.png);
}
.logo-mediamarkt-de {
	background-image: url(http://cdnlogos.cliqz.com/mediamarkt.de.png);
}
.logo-meinestadt-de {
	background-image: url(http://cdnlogos.cliqz.com/meinestadt.de.png);
}
.logo-merkur-online-de {
	background-image: url(http://cdnlogos.cliqz.com/merkur-online.de.png);
}
.logo-microsoft-com {
	background-image: url(http://cdnlogos.cliqz.com/microsoft.com.png);
}
.logo-mindfactory-de {
	background-image: url(http://cdnlogos.cliqz.com/mindfactory.de.png);
}
.logo-mobile-de {
	background-image: url(http://cdnlogos.cliqz.com/mobile.de.png);
}
.logo-monster-de {
	background-image: url(http://cdnlogos.cliqz.com/monster.de.png);
}
.logo-mopo-de {
	background-image: url(http://cdnlogos.cliqz.com/mopo.de.png);
}
.logo-motor-talk-de {
	background-image: url(http://cdnlogos.cliqz.com/motor-talk.de.png);
}
.logo-movie4k-to {
	background-image: url(http://cdnlogos.cliqz.com/movie4k.to.png);
}
.logo-moviepilot-de {
	background-image: url(http://cdnlogos.cliqz.com/moviepilot.de.png);
}
.logo-moz-com {
	background-image: url(http://cdnlogos.cliqz.com/moz.com.png);
}
.logo-mozilla-org {
	background-image: url(http://cdnlogos.cliqz.com/mozilla.org.png);
}
.logo-mpnrs-com {
	background-image: url(http://cdnlogos.cliqz.com/mpnrs.com.png);
}
.logo-msn-com {
	background-image: url(http://cdnlogos.cliqz.com/msn.com.png);
}
.logo-mydealz-de {
	background-image: url(http://cdnlogos.cliqz.com/mydealz.de.png);
}
.logo-mytoys-de {
	background-image: url(http://cdnlogos.cliqz.com/mytoys.de.png);
}
.logo-myvideo-de {
	background-image: url(http://cdnlogos.cliqz.com/myvideo.de.png);
}
.logo-n24-de {
	background-image: url(http://cdnlogos.cliqz.com/n24.de.png);
}
.logo-nationzoom-com {
	background-image: url(http://cdnlogos.cliqz.com/nationzoom.com.png);
}
.logo-ndr-de {
	background-image: url(http://cdnlogos.cliqz.com/ndr.de.png);
}
.logo-neobux-com {
	background-image: url(http://cdnlogos.cliqz.com/neobux.com.png);
}
.logo-netzwelt-de {
	background-image: url(http://cdnlogos.cliqz.com/netzwelt.de.png);
}
.logo-notebooksbilliger-de {
	background-image: url(http://cdnlogos.cliqz.com/notebooksbilliger.de.png);
}
.logo-nrw-de {
	background-image: url(http://cdnlogos.cliqz.com/nrw.de.png);
}
.logo-n-tv-de {
	background-image: url(http://cdnlogos.cliqz.com/n-tv.de.png);
}
.logo-odnoklassniki-ru {
	background-image: url(http://cdnlogos.cliqz.com/odnoklassniki.ru.png);
}
.logo-onmeda-de {
	background-image: url(http://cdnlogos.cliqz.com/onmeda.de.png);
}
.logo-onvista-de {
	background-image: url(http://cdnlogos.cliqz.com/onvista.de.png);
}
.logo-otto-de {
	background-image: url(http://cdnlogos.cliqz.com/otto.de.png);
}
.logo-outbrain-com {
	background-image: url(http://cdnlogos.cliqz.com/outbrain.com.png);
}
.logo-paypal {
	background-image: url(http://cdnlogos.cliqz.com/paypal.png);
}
.logo-pcgames-de {
	background-image: url(http://cdnlogos.cliqz.com/pcgames.de.png);
}
.logo-pcgameshardware-de {
	background-image: url(http://cdnlogos.cliqz.com/pcgameshardware.de.png);
}
.logo-pcwelt-de {
	background-image: url(http://cdnlogos.cliqz.com/pcwelt.de.png);
}
.logo-photobucket-com {
	background-image: url(http://cdnlogos.cliqz.com/photobucket.com.png);
}
.logo-php-net {
	background-image: url(http://cdnlogos.cliqz.com/php.net.png);
}
.logo-pinterest-com {
	background-image: url(http://cdnlogos.cliqz.com/pinterest.com.png);
}
.logo-pixelio-de {
	background-image: url(http://cdnlogos.cliqz.com/pixelio.de.png);
}
.logo-pizza-de {
	background-image: url(http://cdnlogos.cliqz.com/pizza.de.png);
}
.logo-pons-com {
	background-image: url(http://cdnlogos.cliqz.com/pons.com.png);
}
.logo-popads-net {
	background-image: url(http://cdnlogos.cliqz.com/popads.net.png);
}
.logo-postbank-de {
	background-image: url(http://cdnlogos.cliqz.com/postbank.de.png);
}
.logo-privatehomeclips-com {
	background-image: url(http://cdnlogos.cliqz.com/privatehomeclips.com.png);
}
.logo-promiflash-de {
	background-image: url(http://cdnlogos.cliqz.com/promiflash.de.png);
}
.logo-prosieben-de {
	background-image: url(http://cdnlogos.cliqz.com/prosieben.de.png);
}
.logo-quoka-de {
	background-image: url(http://cdnlogos.cliqz.com/quoka.de.png);
}
.logo-radio-de {
	background-image: url(http://cdnlogos.cliqz.com/radio.de.png);
}
.logo-rakuten-de {
	background-image: url(http://cdnlogos.cliqz.com/rakuten.de.png);
}
.logo-redcoon-de {
	background-image: url(http://cdnlogos.cliqz.com/redcoon.de.png);
}
.logo-reddit-com {
	background-image: url(http://cdnlogos.cliqz.com/reddit.com.png);
}
.logo-rp-online-de {
	background-image: url(http://cdnlogos.cliqz.com/rp-online.de.png);
}
.logo-rtl2-de {
	background-image: url(http://cdnlogos.cliqz.com/rtl2.de.png);
}
.logo-rtl-de {
	background-image: url(http://cdnlogos.cliqz.com/rtl.de.png);
}
.logo-salesforce-com {
	background-image: url(http://cdnlogos.cliqz.com/salesforce.com.png);
}
.logo-samsung-com {
	background-image: url(http://cdnlogos.cliqz.com/samsung.com.png);
}
.logo-sat1-de {
	background-image: url(http://cdnlogos.cliqz.com/sat1.de.png);
}
.logo-saturn-de {
	background-image: url(http://cdnlogos.cliqz.com/saturn.de.png);
}
.logo-schulferien-org {
	background-image: url(http://cdnlogos.cliqz.com/schulferien.org.png);
}
.logo-searchmetrics-com {
	background-image: url(http://cdnlogos.cliqz.com/searchmetrics.com.png);
}
.logo-sedo-de {
	background-image: url(http://cdnlogos.cliqz.com/sedo.de.png);
}
.logo-seitenreport-de {
	background-image: url(http://cdnlogos.cliqz.com/seitenreport.de.png);
}
.logo-seitwert-de {
	background-image: url(http://cdnlogos.cliqz.com/seitwert.de.png);
}
.logo-selfhtml-org {
	background-image: url(http://cdnlogos.cliqz.com/selfhtml.org.png);
}
.logo-serienjunkies-de {
	background-image: url(http://cdnlogos.cliqz.com/serienjunkies.de.png);
}
.logo-shopware-de {
	background-image: url(http://cdnlogos.cliqz.com/shopware.de.png);
}
.logo-shortnews-de {
	background-image: url(http://cdnlogos.cliqz.com/shortnews.de.png);
}
.logo-shutterstock-com {
	background-image: url(http://cdnlogos.cliqz.com/shutterstock.com.png);
}
.logo-sky-de {
	background-image: url(http://cdnlogos.cliqz.com/sky.de.png);
}
.logo-skype-com {
	background-image: url(http://cdnlogos.cliqz.com/skype.com.png);
}
.logo-slideshare-net {
	background-image: url(http://cdnlogos.cliqz.com/slideshare.net.png);
}
.logo-smsvongesternnacht-de {
	background-image: url(http://cdnlogos.cliqz.com/smsvongesternnacht.de.png);
}
.logo-sockshare-com {
	background-image: url(http://cdnlogos.cliqz.com/sockshare.com.png);
}
.logo-softonic-de {
	background-image: url(http://cdnlogos.cliqz.com/softonic.de.png);
}
.logo-soundcloud-com {
	background-image: url(http://cdnlogos.cliqz.com/soundcloud.com.png);
}
.logo-sourceforge-net {
	background-image: url(http://cdnlogos.cliqz.com/sourceforge.net.png);
}
.logo-sparda-de {
	background-image: url(http://cdnlogos.cliqz.com/sparda.de.png);
}
.logo-sparwelt-de {
	background-image: url(http://cdnlogos.cliqz.com/sparwelt.de.png);
}
.logo-spiegel-de {
	background-image: url(http://cdnlogos.cliqz.com/spiegel.de.png);
}
.logo-spielaffe-de {
	background-image: url(http://cdnlogos.cliqz.com/spielaffe.de.png);
}
.logo-sport1-de {
	background-image: url(http://cdnlogos.cliqz.com/sport1.de.png);
}
.logo-sportschau-de {
	background-image: url(http://cdnlogos.cliqz.com/sportschau.de.png);
}
.logo-spox-com {
	background-image: url(http://cdnlogos.cliqz.com/spox.com.png);
}
.logo-stackexchange-com {
	background-image: url(http://cdnlogos.cliqz.com/stackexchange.com.png);
}
.logo-stackoverflow-com {
	background-image: url(http://cdnlogos.cliqz.com/stackoverflow.com.png);
}
.logo-stayfriends-de {
	background-image: url(http://cdnlogos.cliqz.com/stayfriends.de.png);
}
.logo-stepstone-de {
	background-image: url(http://cdnlogos.cliqz.com/stepstone.de.png);
}
.logo-stern-de {
	background-image: url(http://cdnlogos.cliqz.com/stern.de.png);
}
.logo-stiftung-warentest-de {
	background-image: url(http://cdnlogos.cliqz.com/stiftung-warentest.de.png);
}
.logo-strato-de {
	background-image: url(http://cdnlogos.cliqz.com/strato.de.png);
}
.logo-streamcloud-eu {
	background-image: url(http://cdnlogos.cliqz.com/streamcloud.eu.png);
}
.logo-stylebook-de {
	background-image: url(http://cdnlogos.cliqz.com/stylebook.de.png);
}
.logo-sueddeutsche-de {
	background-image: url(http://cdnlogos.cliqz.com/sueddeutsche.de.png);
}
.logo-sunmaker-com {
	background-image: url(http://cdnlogos.cliqz.com/sunmaker.com.png);
}
.logo-swoodoo-com {
	background-image: url(http://cdnlogos.cliqz.com/swoodoo.com.png);
}
.logo-t3n-de {
	background-image: url(http://cdnlogos.cliqz.com/t3n.de.png);
}
.logo-tagesschau-de {
	background-image: url(http://cdnlogos.cliqz.com/tagesschau.de.png);
}
.logo-tagesspiegel-de {
	background-image: url(http://cdnlogos.cliqz.com/tagesspiegel.de.png);
}
.logo-tankionline-com {
	background-image: url(http://cdnlogos.cliqz.com/tankionline.com.png);
}
.logo-taz-de {
	background-image: url(http://cdnlogos.cliqz.com/taz.de.png);
}
.logo-tchibo-de {
	background-image: url(http://cdnlogos.cliqz.com/tchibo.de.png);
}
.logo-telekom-com {
	background-image: url(http://cdnlogos.cliqz.com/telekom.com.png);
}
.logo-telekom-de {
	background-image: url(http://cdnlogos.cliqz.com/telekom.de.png);
}
.logo-testberichte-de {
	background-image: url(http://cdnlogos.cliqz.com/testberichte.de.png);
}
.logo-theguardian-com {
	background-image: url(http://cdnlogos.cliqz.com/theguardian.com.png);
}
.logo-themeforest-net {
	background-image: url(http://cdnlogos.cliqz.com/themeforest.net.png);
}
.logo-thomann-de {
	background-image: url(http://cdnlogos.cliqz.com/thomann.de.png);
}
.logo-tipico-com {
	background-image: url(http://cdnlogos.cliqz.com/tipico.com.png);
}
.logo-t-mobile-de {
	background-image: url(http://cdnlogos.cliqz.com/t-mobile.de.png);
}
.logo-t-online-de {
	background-image: url(http://cdnlogos.cliqz.com/t-online.de.png);
}
.logo-tripadvisor-de {
	background-image: url(http://cdnlogos.cliqz.com/tripadvisor.de.png);
}
.logo-trivago-de {
	background-image: url(http://cdnlogos.cliqz.com/trivago.de.png);
}
.logo-trustedshops-de {
	background-image: url(http://cdnlogos.cliqz.com/trustedshops.de.png);
}
.logo-tumblr-com {
	background-image: url(http://cdnlogos.cliqz.com/tumblr.com.png);
}
.logo-tvmovie-de {
	background-image: url(http://cdnlogos.cliqz.com/tvmovie.de.png);
}
.logo-tvspielfilm-de {
	background-image: url(http://cdnlogos.cliqz.com/tvspielfilm.de.png);
}
.logo-twitch-tv {
	background-image: url(http://cdnlogos.cliqz.com/twitch.tv.png);
}
.logo-twitter-com {
	background-image: url(http://cdnlogos.cliqz.com/twitter.com.png);
}
.logo-tz-de {
	background-image: url(http://cdnlogos.cliqz.com/tz.de.png);
}
.logo-united-domains-de {
	background-image: url(http://cdnlogos.cliqz.com/united-domains.de.png);
}
.logo-uploaded-net {
	background-image: url(http://cdnlogos.cliqz.com/uploaded.net.png);
}
.logo-ups-com {
	background-image: url(http://cdnlogos.cliqz.com/ups.com.png);
}
.logo-urbia-de {
	background-image: url(http://cdnlogos.cliqz.com/urbia.de.png);
}
.logo-urlaubspiraten-de {
	background-image: url(http://cdnlogos.cliqz.com/urlaubspiraten.de.png);
}
.logo-vimeo-com {
	background-image: url(http://cdnlogos.cliqz.com/vimeo.com.png);
}
.logo-vk-com {
	background-image: url(http://cdnlogos.cliqz.com/vk.com.png);
}
.logo-vodafone-de {
	background-image: url(http://cdnlogos.cliqz.com/vodafone.de.png);
}
.logo-vube-com {
	background-image: url(http://cdnlogos.cliqz.com/vube.com.png);
}
.logo-w3schools-com {
	background-image: url(http://cdnlogos.cliqz.com/w3schools.com.png);
}
.logo-wallstreet-online-de {
	background-image: url(http://cdnlogos.cliqz.com/wallstreet-online.de.png);
}
.logo-watchever-de {
	background-image: url(http://cdnlogos.cliqz.com/watchever.de.png);
}
.logo-wdr-de {
	background-image: url(http://cdnlogos.cliqz.com/wdr.de.png);
}
.logo-web-de {
	background-image: url(http://cdnlogos.cliqz.com/web.de.png);
}
.logo-webfail-com {
	background-image: url(http://cdnlogos.cliqz.com/webfail.com.png);
}
.logo-webmasterplan-com {
	background-image: url(http://cdnlogos.cliqz.com/webmasterplan.com.png);
}
.logo-weltbild-de {
	background-image: url(http://cdnlogos.cliqz.com/weltbild.de.png);
}
.logo-welt-de {
	background-image: url(http://cdnlogos.cliqz.com/welt.de.png);
}
.logo-wer-kennt-wen-de {
	background-image: url(http://cdnlogos.cliqz.com/wer-kennt-wen.de.png);
}
.logo-wer-weiss-was-de {
	background-image: url(http://cdnlogos.cliqz.com/wer-weiss-was.de.png);
}
.logo-westline-de {
	background-image: url(http://cdnlogos.cliqz.com/westline.de.png);
}
.logo-wetter-com {
	background-image: url(http://cdnlogos.cliqz.com/wetter.com.png);
}
.logo-wetteronline-de {
	background-image: url(http://cdnlogos.cliqz.com/wetteronline.de.png);
}
.logo-wikia-com {
	background-image: url(http://cdnlogos.cliqz.com/wikia.com.png);
}
.logo-wikimedia-org {
	background-image: url(http://cdnlogos.cliqz.com/wikimedia.org.png);
}
.logo-wikipedia-org {
	background-image: url(http://cdnlogos.cliqz.com/wikipedia.org.png);
}
.logo-wiktionary-org {
	background-image: url(http://cdnlogos.cliqz.com/wiktionary.org.png);
}
.logo-winfuture-de {
	background-image: url(http://cdnlogos.cliqz.com/winfuture.de.png);
}
.logo-wiwo-de {
	background-image: url(http://cdnlogos.cliqz.com/wiwo.de.png);
}
.logo-wordpress-com {
	background-image: url(http://cdnlogos.cliqz.com/wordpress.com.png);
}
.logo-woxikon-de {
	background-image: url(http://cdnlogos.cliqz.com/woxikon.de.png);
}
.logo-wunderweib-de {
	background-image: url(http://cdnlogos.cliqz.com/wunderweib.de.png);
}
.logo-wuv-de {
	background-image: url(http://cdnlogos.cliqz.com/wuv.de.png);
}
.logo-xing-com {
	background-image: url(http://cdnlogos.cliqz.com/xing.com.png);
}
.logo-xovi-de {
	background-image: url(http://cdnlogos.cliqz.com/xovi.de.png);
}
.logo-yahoo-com {
	background-image: url(http://cdnlogos.cliqz.com/yahoo.com.png);
}
.logo-yandex-ru {
	background-image: url(http://cdnlogos.cliqz.com/yandex.ru.png);
}
.logo-yelp-de {
	background-image: url(http://cdnlogos.cliqz.com/yelp.de.png);
}
.logo-youtube-com {
	background-image: url(http://cdnlogos.cliqz.com/youtube.com.png);
}
.logo-zalando-de {
	background-image: url(http://cdnlogos.cliqz.com/zalando.de.png);
}
.logo-zanox-com {
	background-image: url(http://cdnlogos.cliqz.com/zanox.com.png);
}
.logo-zattoo-com {
	background-image: url(http://cdnlogos.cliqz.com/zattoo.com.png);
}
.logo-zdf-de {
	background-image: url(http://cdnlogos.cliqz.com/zdf.de.png);
}
.logo-zeit-de {
	background-image: url(http://cdnlogos.cliqz.com/zeit.de.png);
}
.logo-ab-in-den-urlaub-de {
	background-image: url(http://cdnlogos.cliqz.com/ab-in-den-urlaub.de.png);
}
.logo-adidas-de {
	background-image: url(http://cdnlogos.cliqz.com/adidas.de.png);
}
.logo-affili-net {
	background-image: url(http://cdnlogos.cliqz.com/affili.net.png);
}
.logo-amica-de {
	background-image: url(http://cdnlogos.cliqz.com/amica.de.png);
}
.logo-android-hilfe-de {
	background-image: url(http://cdnlogos.cliqz.com/android-hilfe.de.png);
}
.logo-angela-merkel-de {
	background-image: url(http://cdnlogos.cliqz.com/angela-merkel.de.png);
}
.logo-arbeitsagentur-de {
	background-image: url(http://cdnlogos.cliqz.com/arbeitsagentur.de.png);
}
.logo-archive-org {
	background-image: url(http://cdnlogos.cliqz.com/archive.org.png);
}
.logo-arcor-de {
	background-image: url(http://cdnlogos.cliqz.com/arcor.de.png);
}
.logo-ard-de {
	background-image: url(http://cdnlogos.cliqz.com/ard.de.png);
}
.logo-ardmediathek-de {
	background-image: url(http://cdnlogos.cliqz.com/ardmediathek.de.png);
}
.logo-augsburger-allgemeine-de {
	background-image: url(http://cdnlogos.cliqz.com/augsburger-allgemeine.de.png);
}
.logo-avm-de {
	background-image: url(http://cdnlogos.cliqz.com/avm.de.png);
}
.logo-axelspringer-de {
	background-image: url(http://cdnlogos.cliqz.com/axelspringer.de.png);
}
.logo-basecamp {
	background-image: url(http://cdnlogos.cliqz.com/basecamp.png);
}
.logo-battle-net {
	background-image: url(http://cdnlogos.cliqz.com/battle.net.png);
}
.logo-battlefield-com {
	background-image: url(http://cdnlogos.cliqz.com/battlefield.com.png);
}
.logo-bbc.co-uk {
	background-image: url(http://cdnlogos.cliqz.com/bbc.co.uk.png);
}
.logo-bertelsmann-de {
	background-image: url(http://cdnlogos.cliqz.com/bertelsmann.de.png);
}
.logo-blog-de {
	background-image: url(http://cdnlogos.cliqz.com/blog.de.png);
}
.logo-bmjv-de {
	background-image: url(http://cdnlogos.cliqz.com/bmjv.de.png);
}
.logo-bmw-de {
	background-image: url(http://cdnlogos.cliqz.com/bmw.de.png);
}
.logo-br-de {
	background-image: url(http://cdnlogos.cliqz.com/br.de.png);
}
.logo-bundesregierung-de {
	background-image: url(http://cdnlogos.cliqz.com/bundesregierung.de.png);
}
.logo-burdadirektservices-de {
	background-image: url(http://cdnlogos.cliqz.com/burdadirektservices.de.png);
}
.logo-cdu-de {
	background-image: url(http://cdnlogos.cliqz.com/cdu.de.png);
}
.logo-cellular-de {
	background-image: url(http://cdnlogos.cliqz.com/cellular.de.png);
}
.logo-cinema-de {
	background-image: url(http://cdnlogos.cliqz.com/cinema.de.png);
}
.logo-cliqz-com {
	background-image: url(http://cdnlogos.cliqz.com/cliqz.com.png);
}
.logo-computeruniverse-net {
	background-image: url(http://cdnlogos.cliqz.com/computeruniverse.net.png);
}
.logo-conrad-de {
	background-image: url(http://cdnlogos.cliqz.com/conrad.de.png);
}
.logo-csu-de {
	background-image: url(http://cdnlogos.cliqz.com/csu.de.png);
}
.logo-cyberport-de {
	background-image: url(http://cdnlogos.cliqz.com/cyberport.de.png);
}
.logo-dailymail.co-uk {
	background-image: url(http://cdnlogos.cliqz.com/dailymail.co.uk.png);
}
.logo-daskochrezept-de {
	background-image: url(http://cdnlogos.cliqz.com/daskochrezept.de.png);
}
.logo-dawanda-com {
	background-image: url(http://cdnlogos.cliqz.com/dawanda.com.png);
}
.logo-dbk-de {
	background-image: url(http://cdnlogos.cliqz.com/dbk.de.png);
}
.logo-dejure-org {
	background-image: url(http://cdnlogos.cliqz.com/dejure.org.png);
}
.logo-denic-de {
	background-image: url(http://cdnlogos.cliqz.com/denic.de.png);
}
.logo-derwesten-de {
	background-image: url(http://cdnlogos.cliqz.com/derwesten.de.png);
}
.logo-deutschland-de {
	background-image: url(http://cdnlogos.cliqz.com/deutschland.de.png);
}
.logo-df-eu {
	background-image: url(http://cdnlogos.cliqz.com/df.eu.png);
}
.logo-dict-cc {
	background-image: url(http://cdnlogos.cliqz.com/dict.cc.png);
}
.logo-die-linke-de {
	background-image: url(http://cdnlogos.cliqz.com/die-linke.de.png);
}
.logo-dld-conference-de {
	background-image: url(http://cdnlogos.cliqz.com/dld-conference.de.png);
}
.logo-doodle-com {
	background-image: url(http://cdnlogos.cliqz.com/doodle.com.png);
}
.logo-elitepartner-de {
	background-image: url(http://cdnlogos.cliqz.com/elitepartner.de.png);
}
.logo-elle-de {
	background-image: url(http://cdnlogos.cliqz.com/elle.de.png);
}
.logo-fahrinfo-berlin-de {
	background-image: url(http://cdnlogos.cliqz.com/fahrinfo-berlin.de.png);
}
.logo-fcbayern-de {
	background-image: url(http://cdnlogos.cliqz.com/fcbayern.de.png);
}
.logo-fcbayern-telekom-de {
	background-image: url(http://cdnlogos.cliqz.com/fcbayern.telekom.de.png);
}
.logo-fck-de {
	background-image: url(http://cdnlogos.cliqz.com/fck.de.png);
}
.logo-fdp-de {
	background-image: url(http://cdnlogos.cliqz.com/fdp.de.png);
}
.logo-finanzen100-de {
	background-image: url(http://cdnlogos.cliqz.com/finanzen100.de.png);
}
.logo-fitforfun-de {
	background-image: url(http://cdnlogos.cliqz.com/fitforfun.de.png);
}
.logo-flashx-tv {
	background-image: url(http://cdnlogos.cliqz.com/flashx.tv.png);
}
.logo-flickr-com {
	background-image: url(http://cdnlogos.cliqz.com/flickr.com.png);
}
.logo-freundin-de {
	background-image: url(http://cdnlogos.cliqz.com/freundin.de.png);
}
.logo-gesetze-im-internet-de {
	background-image: url(http://cdnlogos.cliqz.com/gesetze-im-internet.de.png);
}
.logo-gruene-de {
	background-image: url(http://cdnlogos.cliqz.com/gruene.de.png);
}
.logo-gucci-com {
	background-image: url(http://cdnlogos.cliqz.com/gucci.com.png);
}
.logo-gulli-com {
	background-image: url(http://cdnlogos.cliqz.com/gulli.com.png);
}
.logo-heftig-co {
	background-image: url(http://cdnlogos.cliqz.com/heftig.co.png);
}
.logo-hermes-com {
	background-image: url(http://cdnlogos.cliqz.com/hermes.com.png);
}
.logo-hm-com {
	background-image: url(http://cdnlogos.cliqz.com/hm.com.png);
}
.logo-hsv-de {
	background-image: url(http://cdnlogos.cliqz.com/hsv.de.png);
}
.logo-hubert-burda-media-de {
	background-image: url(http://cdnlogos.cliqz.com/hubert-burda-media.de.png);
}
.logo-iminent-com {
	background-image: url(http://cdnlogos.cliqz.com/iminent.com.png);
}
.logo-intraship-de {
	background-image: url(http://cdnlogos.cliqz.com/intraship.de.png);
}
.logo-jimdo-com {
	background-image: url(http://cdnlogos.cliqz.com/jimdo.com.png);
}
.logo-juris-de {
	background-image: url(http://cdnlogos.cliqz.com/juris.de.png);
}
.logo-kasserver-com {
	background-image: url(http://cdnlogos.cliqz.com/kasserver.com.png);
}
.logo-klicktel-de {
	background-image: url(http://cdnlogos.cliqz.com/klicktel.de.png);
}
.logo-kopp-verlag-de {
	background-image: url(http://cdnlogos.cliqz.com/kopp-verlag.de.png);
}
.logo-leo-org {
	background-image: url(http://cdnlogos.cliqz.com/leo.org.png);
}
.logo-magentocommerce-com {
	background-image: url(http://cdnlogos.cliqz.com/magentocommerce.com.png);
}
.logo-max-de {
	background-image: url(http://cdnlogos.cliqz.com/max.de.png);
}
.logo-mercedes-benz-de {
	background-image: url(http://cdnlogos.cliqz.com/mercedes-benz.de.png);
}
.logo-mietwagencheck-de {
	background-image: url(http://cdnlogos.cliqz.com/mietwagencheck.de.png);
}
.logo-muenchen-de {
	background-image: url(http://cdnlogos.cliqz.com/muenchen.de.png);
}
.logo-munich-airport-de {
	background-image: url(http://cdnlogos.cliqz.com/munich-airport.de.png);
}
.logo-mvg-mobil-de {
	background-image: url(http://cdnlogos.cliqz.com/mvg-mobil.de.png);
}
.logo-mysearchdial-com {
	background-image: url(http://cdnlogos.cliqz.com/mysearchdial.com.png);
}
.logo-netmoms-de {
	background-image: url(http://cdnlogos.cliqz.com/netmoms.de.png);
}
.logo-nsa-gov {
	background-image: url(http://cdnlogos.cliqz.com/nsa.gov.png);
}
.logo-o2online-de {
	background-image: url(http://cdnlogos.cliqz.com/o2online.de.png);
}
.logo-opodo.co-uk {
	background-image: url(http://cdnlogos.cliqz.com/opodo.co.uk.png);
}
.logo-organize-me {
	background-image: url(http://cdnlogos.cliqz.com/organize.me.png);
}
.logo-paketplus-de {
	background-image: url(http://cdnlogos.cliqz.com/paketplus.de.png);
}
.logo-payback-de {
	background-image: url(http://cdnlogos.cliqz.com/payback.de.png);
}
.logo-pearl-de {
	background-image: url(http://cdnlogos.cliqz.com/pearl.de.png);
}
.logo-playboy-de {
	background-image: url(http://cdnlogos.cliqz.com/playboy.de.png);
}
.logo-porsche-com {
	background-image: url(http://cdnlogos.cliqz.com/porsche.com.png);
}
.logo-prada-com {
	background-image: url(http://cdnlogos.cliqz.com/prada.com.png);
}
.logo-presseportal-de {
	background-image: url(http://cdnlogos.cliqz.com/presseportal.de.png);
}
.logo-puma-de {
	background-image: url(http://cdnlogos.cliqz.com/puma.de.png);
}
.logo-radiogong-de {
	background-image: url(http://cdnlogos.cliqz.com/radiogong.de.png);
}
.logo-schlossbensberg-com {
	background-image: url(http://cdnlogos.cliqz.com/schlossbensberg.com.png);
}
.logo-singleguide24-com {
	background-image: url(http://cdnlogos.cliqz.com/singleguide24.com.png);
}
.logo-siteadvisor-com {
	background-image: url(http://cdnlogos.cliqz.com/siteadvisor.com.png);
}
.logo-snapdo-com {
	background-image: url(http://cdnlogos.cliqz.com/snapdo.com.png);
}
.logo-spd-de {
	background-image: url(http://cdnlogos.cliqz.com/spd.de.png);
}
.logo-stargames-at {
	background-image: url(http://cdnlogos.cliqz.com/stargames.at.png);
}
.logo-steampowered-com {
	background-image: url(http://cdnlogos.cliqz.com/steampowered.com.png);
}
.logo-systweak-com {
	background-image: url(http://cdnlogos.cliqz.com/systweak.com.png);
}
.logo-t-co {
	background-image: url(http://cdnlogos.cliqz.com/t.co.png);
}
.logo-tantris-de {
	background-image: url(http://cdnlogos.cliqz.com/tantris.de.png);
}
.logo-test-de {
	background-image: url(http://cdnlogos.cliqz.com/test.de.png);
}
.logo-tomorrow-focus-media-de {
	background-image: url(http://cdnlogos.cliqz.com/tomorrow-focus-media.de.png);
}
.logo-tomorrow-focus-de {
	background-image: url(http://cdnlogos.cliqz.com/tomorrow-focus.de.png);
}
.logo-top-de {
	background-image: url(http://cdnlogos.cliqz.com/top.de.png);
}
.logo-tradedoubler-com {
	background-image: url(http://cdnlogos.cliqz.com/tradedoubler.com.png);
}
.logo-transfermarkt-de {
	background-image: url(http://cdnlogos.cliqz.com/transfermarkt.de.png);
}
.logo-traube-tonbach-de {
	background-image: url(http://cdnlogos.cliqz.com/traube-tonbach.de.png);
}
.logo-tvtoday-de {
	background-image: url(http://cdnlogos.cliqz.com/tvtoday.de.png);
}
.logo-urlm-de {
	background-image: url(http://cdnlogos.cliqz.com/urlm.de.png);
}
.logo-utrace-de {
	background-image: url(http://cdnlogos.cliqz.com/utrace.de.png);
}
.logo-valentins-de {
	background-image: url(http://cdnlogos.cliqz.com/valentins.de.png);
}
.logo-volkswagen-de {
	background-image: url(http://cdnlogos.cliqz.com/volkswagen.de.png);
}
.logo-w3-org {
	background-image: url(http://cdnlogos.cliqz.com/w3.org.png);
}
.logo-wetter-de {
	background-image: url(http://cdnlogos.cliqz.com/wetter.de.png);
}
.logo-wg-gesucht-de {
	background-image: url(http://cdnlogos.cliqz.com/wg-gesucht.de.png);
}
.logo-wordpress-org {
	background-image: url(http://cdnlogos.cliqz.com/wordpress.org.png);
}
.logo-wpde-org {
	background-image: url(http://cdnlogos.cliqz.com/wpde.org.png);
}
.logo-zoover-de {
	background-image: url(http://cdnlogos.cliqz.com/zoover.de.png);
}
