.logo-123rf-com {
	background-image: url(http://beta.cliqz.com/logo/123rf.com.png);
}
.logo-1jux-net {
	background-image: url(http://beta.cliqz.com/logo/1jux.net.png);
}
.logo-1und1-de {
	background-image: url(http://beta.cliqz.com/logo/1und1.de.png);
}
.logo-888casino-com {
	background-image: url(http://beta.cliqz.com/logo/888casino.com.png);
}
.logo-9gag-com {
	background-image: url(http://beta.cliqz.com/logo/9gag.com.png);
}
.logo-abakus-internet-marketing-de {
	background-image: url(http://beta.cliqz.com/logo/abakus-internet-marketing.de.png);
}
.logo-abendblatt-de {
	background-image: url(http://beta.cliqz.com/logo/abendblatt.de.png);
}
.logo-abendzeitung-muenchen-de {
	background-image: url(http://beta.cliqz.com/logo/abendzeitung-muenchen.de.png);
}
.logo-about-com {
	background-image: url(http://beta.cliqz.com/logo/about.com.png);
}
.logo-ad2games-com {
	background-image: url(http://beta.cliqz.com/logo/ad2games.com.png);
}
.logo-adac-de {
	background-image: url(http://beta.cliqz.com/logo/adac.de.png);
}
.logo-adcash-com {
	background-image: url(http://beta.cliqz.com/logo/adcash.com.png);
}
.logo-addthis-com {
	background-image: url(http://beta.cliqz.com/logo/addthis.com.png);
}
.logo-adf-ly {
	background-image: url(http://beta.cliqz.com/logo/adf.ly.png);
}
.logo-adobe-com {
	background-image: url(http://beta.cliqz.com/logo/adobe.com.png);
}
.logo-adscale-de {
	background-image: url(http://beta.cliqz.com/logo/adscale.de.png);
}
.logo-adtech-info {
	background-image: url(http://beta.cliqz.com/logo/adtech.info.png);
}
.logo-afterbuy-de {
	background-image: url(http://beta.cliqz.com/logo/afterbuy.de.png);
}
.logo-airberlin-com {
	background-image: url(http://beta.cliqz.com/logo/airberlin.com.png);
}
.logo-alibaba-com {
	background-image: url(http://beta.cliqz.com/logo/alibaba.com.png);
}
.logo-aliexpress-com {
	background-image: url(http://beta.cliqz.com/logo/aliexpress.com.png);
}
.logo-all-inkl-com {
	background-image: url(http://beta.cliqz.com/logo/all-inkl.com.png);
}
.logo-alternate-de {
	background-image: url(http://beta.cliqz.com/logo/alternate.de.png);
}
.logo-amazon-com {
	background-image: url(http://beta.cliqz.com/logo/amazon.com.png);
}
.logo-amazon-co-uk {
	background-image: url(http://beta.cliqz.com/logo/amazon.co.uk.png);
}
.logo-amazon-de {
	background-image: url(http://beta.cliqz.com/logo/amazon.de.png);
}
.logo-androidpit-de {
	background-image: url(http://beta.cliqz.com/logo/androidpit.de.png);
}
.logo-anyoption-com {
	background-image: url(http://beta.cliqz.com/logo/anyoption.com.png);
}
.logo-aol-com {
	background-image: url(http://beta.cliqz.com/logo/aol.com.png);
}
.logo-aol-de {
	background-image: url(http://beta.cliqz.com/logo/aol.de.png);
}
.logo-apotheken-umschau-de {
	background-image: url(http://beta.cliqz.com/logo/apotheken-umschau.de.png);
}
.logo-apple-com {
	background-image: url(http://beta.cliqz.com/logo/apple.com.png);
}
.logo-ariva-de {
	background-image: url(http://beta.cliqz.com/logo/ariva.de.png);
}
.logo-ask-com {
	background-image: url(http://beta.cliqz.com/logo/ask.com.png);
}
.logo-ask-fm {
	background-image: url(http://beta.cliqz.com/logo/ask.fm.png);
}
.logo-autobild-de {
	background-image: url(http://beta.cliqz.com/logo/autobild.de.png);
}
.logo-autoscout24-de {
	background-image: url(http://beta.cliqz.com/logo/autoscout24.de.png);
}
.logo-avg-com {
	background-image: url(http://beta.cliqz.com/logo/avg.com.png);
}
.logo-avira-com {
	background-image: url(http://beta.cliqz.com/logo/avira.com.png);
}
.logo-bab-la {
	background-image: url(http://beta.cliqz.com/logo/bab.la.png);
}
.logo-badoo-com {
	background-image: url(http://beta.cliqz.com/logo/badoo.com.png);
}
.logo-bahn-de {
	background-image: url(http://beta.cliqz.com/logo/bahn.de.png);
}
.logo-baur-de {
	background-image: url(http://beta.cliqz.com/logo/baur.de.png);
}
.logo-bayern-de {
	background-image: url(http://beta.cliqz.com/logo/bayern.de.png);
}
.logo-bbc-com {
	background-image: url(http://beta.cliqz.com/logo/bbc.com.png);
}
.logo-berlin-de {
	background-image: url(http://beta.cliqz.com/logo/berlin.de.png);
}
.logo-berliner-sparkasse-de {
	background-image: url(http://beta.cliqz.com/logo/berliner-sparkasse.de.png);
}
.logo-bet365-com {
	background-image: url(http://beta.cliqz.com/logo/bet365.com.png);
}
.logo-bild-de {
	background-image: url(http://beta.cliqz.com/logo/bild.de.png);
}
.logo-billiger-de {
	background-image: url(http://beta.cliqz.com/logo/billiger.de.png);
}
.logo-bing-com {
	background-image: url(http://beta.cliqz.com/logo/bing.com.png);
}
.logo-bitshare-com {
	background-image: url(http://beta.cliqz.com/logo/bitshare.com.png);
}
.logo-blogger-com {
	background-image: url(http://beta.cliqz.com/logo/blogger.com.png);
}
.logo-bonprix-de {
	background-image: url(http://beta.cliqz.com/logo/bonprix.de.png);
}
.logo-booking-com {
	background-image: url(http://beta.cliqz.com/logo/booking.com.png);
}
.logo-brands4friends-de {
	background-image: url(http://beta.cliqz.com/logo/brands4friends.de.png);
}
.logo-brigitte-de {
	background-image: url(http://beta.cliqz.com/logo/brigitte.de.png);
}
.logo-bundesliga-de {
	background-image: url(http://beta.cliqz.com/logo/bundesliga.de.png);
}
.logo-bunte-de {
	background-image: url(http://beta.cliqz.com/logo/bunte.de.png);
}
.logo-buzzfeed-com {
	background-image: url(http://beta.cliqz.com/logo/buzzfeed.com.png);
}
.logo-bwin-com {
	background-image: url(http://beta.cliqz.com/logo/bwin.com.png);
}
.logo-check24-de {
	background-image: url(http://beta.cliqz.com/logo/check24.de.png);
}
.logo-chefkoch-de {
	background-image: url(http://beta.cliqz.com/logo/chefkoch.de.png);
}
.logo-chip-de {
	background-image: url(http://beta.cliqz.com/logo/chip.de.png);
}
.logo-ciao-de {
	background-image: url(http://beta.cliqz.com/logo/ciao.de.png);
}
.logo-cleverreach-com {
	background-image: url(http://beta.cliqz.com/logo/cleverreach.com.png);
}
.logo-cnet-com {
	background-image: url(http://beta.cliqz.com/logo/cnet.com.png);
}
.logo-cnn-com {
	background-image: url(http://beta.cliqz.com/logo/cnn.com.png);
}
.logo-codecanyon-net {
	background-image: url(http://beta.cliqz.com/logo/codecanyon.net.png);
}
.logo-comdirect-de {
	background-image: url(http://beta.cliqz.com/logo/comdirect.de.png);
}
.logo-commerzbanking-de {
	background-image: url(http://beta.cliqz.com/logo/commerzbanking.de.png);
}
.logo-computerbase-de {
	background-image: url(http://beta.cliqz.com/logo/computerbase.de.png);
}
.logo-computerbild-de {
	background-image: url(http://beta.cliqz.com/logo/computerbild.de.png);
}
.logo-comunio-de {
	background-image: url(http://beta.cliqz.com/logo/comunio.de.png);
}
.logo-conduit-com {
	background-image: url(http://beta.cliqz.com/logo/conduit.com.png);
}
.logo-cosmiq-de {
	background-image: url(http://beta.cliqz.com/logo/cosmiq.de.png);
}
.logo-cylex-de {
	background-image: url(http://beta.cliqz.com/logo/cylex.de.png);
}
.logo-dailymotion-com {
	background-image: url(http://beta.cliqz.com/logo/dailymotion.com.png);
}
.logo-daserste-de {
	background-image: url(http://beta.cliqz.com/logo/daserste.de.png);
}
.logo-dasoertliche-de {
	background-image: url(http://beta.cliqz.com/logo/dasoertliche.de.png);
}
.logo-dastelefonbuch-de {
	background-image: url(http://beta.cliqz.com/logo/dastelefonbuch.de.png);
}
.logo-der-postillon-com {
	background-image: url(http://beta.cliqz.com/logo/der-postillon.com.png);
}
.logo-deutsche-bank-de {
	background-image: url(http://beta.cliqz.com/logo/deutsche-bank.de.png);
}
.logo-deutschepost-de {
	background-image: url(http://beta.cliqz.com/logo/deutschepost.de.png);
}
.logo-deutsche-startups-de {
	background-image: url(http://beta.cliqz.com/logo/deutsche-startups.de.png);
}
.logo-deutsche-wirtschafts-nachrichten-de {
	background-image: url(http://beta.cliqz.com/logo/deutsche-wirtschafts-nachrichten.de.png);
}
.logo-dhl-de {
	background-image: url(http://beta.cliqz.com/logo/dhl.de.png);
}
.logo-directrev-com {
	background-image: url(http://beta.cliqz.com/logo/directrev.com.png);
}
.logo-douglas-de {
	background-image: url(http://beta.cliqz.com/logo/douglas.de.png);
}
.logo-dropbox-com {
	background-image: url(http://beta.cliqz.com/logo/dropbox.com.png);
}
.logo-duden-de {
	background-image: url(http://beta.cliqz.com/logo/duden.de.png);
}
.logo-dw-de {
	background-image: url(http://beta.cliqz.com/logo/dw.de.png);
}
.logo-ebay-com {
	background-image: url(http://beta.cliqz.com/logo/ebay.com.png);
}
.logo-ebay-de {
	background-image: url(http://beta.cliqz.com/logo/ebay.de.png);
}
.logo-ebesucher-de {
	background-image: url(http://beta.cliqz.com/logo/ebesucher.de.png);
}
.logo-ero-advertising-com {
	background-image: url(http://beta.cliqz.com/logo/ero-advertising.com.png);
}
.logo-esprit-online-shop-com {
	background-image: url(http://beta.cliqz.com/logo/esprit-online-shop.com.png);
}
.logo-europa-eu {
	background-image: url(http://beta.cliqz.com/logo/europa.eu.png);
}
.logo-eventim-de {
	background-image: url(http://beta.cliqz.com/logo/eventim.de.png);
}
.logo-expedia-de {
	background-image: url(http://beta.cliqz.com/logo/expedia.de.png);
}
.logo-express-de {
	background-image: url(http://beta.cliqz.com/logo/express.de.png);
}
.logo-facebook-com {
	background-image: url(http://beta.cliqz.com/logo/facebook.com.png);
}
.logo-faz-net {
	background-image: url(http://beta.cliqz.com/logo/faz.net.png);
}
.logo-feedly-com {
	background-image: url(http://beta.cliqz.com/logo/feedly.com.png);
}
.logo-fiducia-de {
	background-image: url(http://beta.cliqz.com/logo/fiducia.de.png);
}
.logo-files.wordpress-com {
	background-image: url(http://beta.cliqz.com/logo/files.wordpress.com.png);
}
.logo-filmstarts-de {
	background-image: url(http://beta.cliqz.com/logo/filmstarts.de.png);
}
.logo-finanzen-net {
	background-image: url(http://beta.cliqz.com/logo/finanzen.net.png);
}
.logo-finya-de {
	background-image: url(http://beta.cliqz.com/logo/finya.de.png);
}
.logo-fiverr-com {
	background-image: url(http://beta.cliqz.com/logo/fiverr.com.png);
}
.logo-fluege-de {
	background-image: url(http://beta.cliqz.com/logo/fluege.de.png);
}
.logo-flyeralarm-com {
	background-image: url(http://beta.cliqz.com/logo/flyeralarm.com.png);
}
.logo-focus-de {
	background-image: url(http://beta.cliqz.com/logo/focus.de.png);
}
.logo-fotocommunity-de {
	background-image: url(http://beta.cliqz.com/logo/fotocommunity.de.png);
}
.logo-fotolia-com {
	background-image: url(http://beta.cliqz.com/logo/fotolia.com.png);
}
.logo-freenet-de {
	background-image: url(http://beta.cliqz.com/logo/freenet.de.png);
}
.logo-friendscout24-de {
	background-image: url(http://beta.cliqz.com/logo/friendscout24.de.png);
}
.logo-fr-online-de {
	background-image: url(http://beta.cliqz.com/logo/fr-online.de.png);
}
.logo-fussball-de {
	background-image: url(http://beta.cliqz.com/logo/fussball.de.png);
}
.logo-gameforge-com {
	background-image: url(http://beta.cliqz.com/logo/gameforge.com.png);
}
.logo-gamestar-de {
	background-image: url(http://beta.cliqz.com/logo/gamestar.de.png);
}
.logo-geizhals-de {
	background-image: url(http://beta.cliqz.com/logo/geizhals.de.png);
}
.logo-gelbeseiten-de {
	background-image: url(http://beta.cliqz.com/logo/gelbeseiten.de.png);
}
.logo-giga-de {
	background-image: url(http://beta.cliqz.com/logo/giga.de.png);
}
.logo-github-com {
	background-image: url(http://beta.cliqz.com/logo/github.com.png);
}
.logo-glispa-com {
	background-image: url(http://beta.cliqz.com/logo/glispa.com.png);
}
.logo-gmx-net {
	background-image: url(http://beta.cliqz.com/logo/gmx.net.png);
}
.logo-golem-de {
	background-image: url(http://beta.cliqz.com/logo/golem.de.png);
}
.logo-goodgamestudios-com {
	background-image: url(http://beta.cliqz.com/logo/goodgamestudios.com.png);
}
.logo-google-com {
	background-image: url(http://beta.cliqz.com/logo/google.com.png);
}
.logo-google-co-uk {
	background-image: url(http://beta.cliqz.com/logo/google.co.uk.png);
}
.logo-google-de {
	background-image: url(http://beta.cliqz.com/logo/google.de.png);
}
.logo-google-es {
	background-image: url(http://beta.cliqz.com/logo/google.es.png);
}
.logo-google-fr {
	background-image: url(http://beta.cliqz.com/logo/google.fr.png);
}
.logo-groupon-de {
	background-image: url(http://beta.cliqz.com/logo/groupon.de.png);
}
.logo-gruenderszene-de {
	background-image: url(http://beta.cliqz.com/logo/gruenderszene.de.png);
}
.logo-guenstiger-de {
	background-image: url(http://beta.cliqz.com/logo/guenstiger.de.png);
}
.logo-gutefrage-net {
	background-image: url(http://beta.cliqz.com/logo/gutefrage.net.png);
}
.logo-hamburg-de {
	background-image: url(http://beta.cliqz.com/logo/hamburg.de.png);
}
.logo-handelsblatt-com {
	background-image: url(http://beta.cliqz.com/logo/handelsblatt.com.png);
}
.logo-hardwareluxx-de {
	background-image: url(http://beta.cliqz.com/logo/hardwareluxx.de.png);
}
.logo-haspa-de {
	background-image: url(http://beta.cliqz.com/logo/haspa.de.png);
}
.logo-heise-de {
	background-image: url(http://beta.cliqz.com/logo/heise.de.png);
}
.logo-helpster-de {
	background-image: url(http://beta.cliqz.com/logo/helpster.de.png);
}
.logo-hifi-forum-de {
	background-image: url(http://beta.cliqz.com/logo/hifi-forum.de.png);
}
.logo-hm-com {
	background-image: url(http://beta.cliqz.com/logo/hm.com.png);
}
.logo-holidaycheck-de {
	background-image: url(http://beta.cliqz.com/logo/holidaycheck.de.png);
}
.logo-home24-de {
	background-image: url(http://beta.cliqz.com/logo/home24.de.png);
}
.logo-hosteurope-de {
	background-image: url(http://beta.cliqz.com/logo/hosteurope.de.png);
}
.logo-hp-com {
	background-image: url(http://beta.cliqz.com/logo/hp.com.png);
}
.logo-hrs-de {
	background-image: url(http://beta.cliqz.com/logo/hrs.de.png);
}
.logo-huffingtonpost-de {
	background-image: url(http://beta.cliqz.com/logo/huffingtonpost.de.png);
}
.logo-hypovereinsbank-de {
	background-image: url(http://beta.cliqz.com/logo/hypovereinsbank.de.png);
}
.logo-idealo-de {
	background-image: url(http://beta.cliqz.com/logo/idealo.de.png);
}
.logo-ikea-com {
	background-image: url(http://beta.cliqz.com/logo/ikea.com.png);
}
.logo-imdb-com {
	background-image: url(http://beta.cliqz.com/logo/imdb.com.png);
}
.logo-imgur-com {
	background-image: url(http://beta.cliqz.com/logo/imgur.com.png);
}
.logo-immobilienscout24-de {
	background-image: url(http://beta.cliqz.com/logo/immobilienscout24.de.png);
}
.logo-immonet-de {
	background-image: url(http://beta.cliqz.com/logo/immonet.de.png);
}
.logo-immowelt-de {
	background-image: url(http://beta.cliqz.com/logo/immowelt.de.png);
}
.logo-indeed-com {
	background-image: url(http://beta.cliqz.com/logo/indeed.com.png);
}
.logo-ing-diba-de {
	background-image: url(http://beta.cliqz.com/logo/ing-diba.de.png);
}
.logo-instagram-com {
	background-image: url(http://beta.cliqz.com/logo/instagram.com.png);
}
.logo-internetworld-de {
	background-image: url(http://beta.cliqz.com/logo/internetworld.de.png);
}
.logo-istockphoto-com {
	background-image: url(http://beta.cliqz.com/logo/istockphoto.com.png);
}
.logo-jameda-de {
	background-image: url(http://beta.cliqz.com/logo/jameda.de.png);
}
.logo-jappy-de {
	background-image: url(http://beta.cliqz.com/logo/jappy.de.png);
}
.logo-java-com {
	background-image: url(http://beta.cliqz.com/logo/java.com.png);
}
.logo-joomla-org {
	background-image: url(http://beta.cliqz.com/logo/joomla.org.png);
}
.logo-jtl-software-de {
	background-image: url(http://beta.cliqz.com/logo/jtl-software.de.png);
}
.logo-kabeldeutschland-de {
	background-image: url(http://beta.cliqz.com/logo/kabeldeutschland.de.png);
}
.logo-kalaydo-de {
	background-image: url(http://beta.cliqz.com/logo/kalaydo.de.png);
}
.logo-kaufda-de {
	background-image: url(http://beta.cliqz.com/logo/kaufda.de.png);
}
.logo-kicker-de {
	background-image: url(http://beta.cliqz.com/logo/kicker.de.png);
}
.logo-kicktipp-de {
	background-image: url(http://beta.cliqz.com/logo/kicktipp.de.png);
}
.logo-kinox-to {
	background-image: url(http://beta.cliqz.com/logo/kinox.to.png);
}
.logo-klamm-de {
	background-image: url(http://beta.cliqz.com/logo/klamm.de.png);
}
.logo-kleiderkreisel-de {
	background-image: url(http://beta.cliqz.com/logo/kleiderkreisel.de.png);
}
.logo-koramgame-com {
	background-image: url(http://beta.cliqz.com/logo/koramgame.com.png);
}
.logo-ksta-de {
	background-image: url(http://beta.cliqz.com/logo/ksta.de.png);
}
.logo-kununu-com {
	background-image: url(http://beta.cliqz.com/logo/kununu.com.png);
}
.logo-ladenzeile-de {
	background-image: url(http://beta.cliqz.com/logo/ladenzeile.de.png);
}
.logo-lidl-de {
	background-image: url(http://beta.cliqz.com/logo/lidl.de.png);
}
.logo-ligatus-com {
	background-image: url(http://beta.cliqz.com/logo/ligatus.com.png);
}
.logo-linguee-de {
	background-image: url(http://beta.cliqz.com/logo/linguee.de.png);
}
.logo-linkcrypt-ws {
	background-image: url(http://beta.cliqz.com/logo/linkcrypt.ws.png);
}
.logo-linkedin-com {
	background-image: url(http://beta.cliqz.com/logo/linkedin.com.png);
}
.logo-livejournal-com {
	background-image: url(http://beta.cliqz.com/logo/livejournal.com.png);
}
.logo-lotto24-de {
	background-image: url(http://beta.cliqz.com/logo/lotto24.de.png);
}
.logo-lovoo-net {
	background-image: url(http://beta.cliqz.com/logo/lovoo.net.png);
}
.logo-lufthansa-com {
	background-image: url(http://beta.cliqz.com/logo/lufthansa.com.png);
}
.logo-mail-ru {
	background-image: url(http://beta.cliqz.com/logo/mail.ru.png);
}
.logo-manager-magazin-de {
	background-image: url(http://beta.cliqz.com/logo/manager-magazin.de.png);
}
.logo-markt-de {
	background-image: url(http://beta.cliqz.com/logo/markt.de.png);
}
.logo-mbs-potsdam-de {
	background-image: url(http://beta.cliqz.com/logo/mbs-potsdam.de.png);
}
.logo-mediamarkt-de {
	background-image: url(http://beta.cliqz.com/logo/mediamarkt.de.png);
}
.logo-meinestadt-de {
	background-image: url(http://beta.cliqz.com/logo/meinestadt.de.png);
}
.logo-merkur-online-de {
	background-image: url(http://beta.cliqz.com/logo/merkur-online.de.png);
}
.logo-microsoft-com {
	background-image: url(http://beta.cliqz.com/logo/microsoft.com.png);
}
.logo-mindfactory-de {
	background-image: url(http://beta.cliqz.com/logo/mindfactory.de.png);
}
.logo-mobile-de {
	background-image: url(http://beta.cliqz.com/logo/mobile.de.png);
}
.logo-monster-de {
	background-image: url(http://beta.cliqz.com/logo/monster.de.png);
}
.logo-mopo-de {
	background-image: url(http://beta.cliqz.com/logo/mopo.de.png);
}
.logo-motor-talk-de {
	background-image: url(http://beta.cliqz.com/logo/motor-talk.de.png);
}
.logo-movie4k-to {
	background-image: url(http://beta.cliqz.com/logo/movie4k.to.png);
}
.logo-moviepilot-de {
	background-image: url(http://beta.cliqz.com/logo/moviepilot.de.png);
}
.logo-moz-com {
	background-image: url(http://beta.cliqz.com/logo/moz.com.png);
}
.logo-mozilla-org {
	background-image: url(http://beta.cliqz.com/logo/mozilla.org.png);
}
.logo-mpnrs-com {
	background-image: url(http://beta.cliqz.com/logo/mpnrs.com.png);
}
.logo-msn-com {
	background-image: url(http://beta.cliqz.com/logo/msn.com.png);
}
.logo-mydealz-de {
	background-image: url(http://beta.cliqz.com/logo/mydealz.de.png);
}
.logo-mytoys-de {
	background-image: url(http://beta.cliqz.com/logo/mytoys.de.png);
}
.logo-myvideo-de {
	background-image: url(http://beta.cliqz.com/logo/myvideo.de.png);
}
.logo-n24-de {
	background-image: url(http://beta.cliqz.com/logo/n24.de.png);
}
.logo-nationzoom-com {
	background-image: url(http://beta.cliqz.com/logo/nationzoom.com.png);
}
.logo-ndr-de {
	background-image: url(http://beta.cliqz.com/logo/ndr.de.png);
}
.logo-neobux-com {
	background-image: url(http://beta.cliqz.com/logo/neobux.com.png);
}
.logo-netzwelt-de {
	background-image: url(http://beta.cliqz.com/logo/netzwelt.de.png);
}
.logo-notebooksbilliger-de {
	background-image: url(http://beta.cliqz.com/logo/notebooksbilliger.de.png);
}
.logo-nrw-de {
	background-image: url(http://beta.cliqz.com/logo/nrw.de.png);
}
.logo-n-tv-de {
	background-image: url(http://beta.cliqz.com/logo/n-tv.de.png);
}
.logo-odnoklassniki-ru {
	background-image: url(http://beta.cliqz.com/logo/odnoklassniki.ru.png);
}
.logo-onmeda-de {
	background-image: url(http://beta.cliqz.com/logo/onmeda.de.png);
}
.logo-onvista-de {
	background-image: url(http://beta.cliqz.com/logo/onvista.de.png);
}
.logo-otto-de {
	background-image: url(http://beta.cliqz.com/logo/otto.de.png);
}
.logo-outbrain-com {
	background-image: url(http://beta.cliqz.com/logo/outbrain.com.png);
}
.logo-paypal-com {
	background-image: url(http://beta.cliqz.com/logo/paypal.com.png);
}
.logo-paypal-de {
	background-image: url(http://beta.cliqz.com/logo/paypal.de.png);
}
.logo-pcgames-de {
	background-image: url(http://beta.cliqz.com/logo/pcgames.de.png);
}
.logo-pcgameshardware-de {
	background-image: url(http://beta.cliqz.com/logo/pcgameshardware.de.png);
}
.logo-pcwelt-de {
	background-image: url(http://beta.cliqz.com/logo/pcwelt.de.png);
}
.logo-photobucket-com {
	background-image: url(http://beta.cliqz.com/logo/photobucket.com.png);
}
.logo-php-net {
	background-image: url(http://beta.cliqz.com/logo/php.net.png);
}
.logo-pinterest-com {
	background-image: url(http://beta.cliqz.com/logo/pinterest.com.png);
}
.logo-pixelio-de {
	background-image: url(http://beta.cliqz.com/logo/pixelio.de.png);
}
.logo-pizza-de {
	background-image: url(http://beta.cliqz.com/logo/pizza.de.png);
}
.logo-pons-com {
	background-image: url(http://beta.cliqz.com/logo/pons.com.png);
}
.logo-popads-net {
	background-image: url(http://beta.cliqz.com/logo/popads.net.png);
}
.logo-postbank-de {
	background-image: url(http://beta.cliqz.com/logo/postbank.de.png);
}
.logo-privatehomeclips-com {
	background-image: url(http://beta.cliqz.com/logo/privatehomeclips.com.png);
}
.logo-promiflash-de {
	background-image: url(http://beta.cliqz.com/logo/promiflash.de.png);
}
.logo-prosieben-de {
	background-image: url(http://beta.cliqz.com/logo/prosieben.de.png);
}
.logo-quoka-de {
	background-image: url(http://beta.cliqz.com/logo/quoka.de.png);
}
.logo-radio-de {
	background-image: url(http://beta.cliqz.com/logo/radio.de.png);
}
.logo-rakuten-de {
	background-image: url(http://beta.cliqz.com/logo/rakuten.de.png);
}
.logo-redcoon-de {
	background-image: url(http://beta.cliqz.com/logo/redcoon.de.png);
}
.logo-reddit-com {
	background-image: url(http://beta.cliqz.com/logo/reddit.com.png);
}
.logo-rp-online-de {
	background-image: url(http://beta.cliqz.com/logo/rp-online.de.png);
}
.logo-rtl2-de {
	background-image: url(http://beta.cliqz.com/logo/rtl2.de.png);
}
.logo-rtl-de {
	background-image: url(http://beta.cliqz.com/logo/rtl.de.png);
}
.logo-salesforce-com {
	background-image: url(http://beta.cliqz.com/logo/salesforce.com.png);
}
.logo-samsung-com {
	background-image: url(http://beta.cliqz.com/logo/samsung.com.png);
}
.logo-sat1-de {
	background-image: url(http://beta.cliqz.com/logo/sat1.de.png);
}
.logo-saturn-de {
	background-image: url(http://beta.cliqz.com/logo/saturn.de.png);
}
.logo-schulferien-org {
	background-image: url(http://beta.cliqz.com/logo/schulferien.org.png);
}
.logo-searchmetrics-com {
	background-image: url(http://beta.cliqz.com/logo/searchmetrics.com.png);
}
.logo-sedo-de {
	background-image: url(http://beta.cliqz.com/logo/sedo.de.png);
}
.logo-seitenreport-de {
	background-image: url(http://beta.cliqz.com/logo/seitenreport.de.png);
}
.logo-seitwert-de {
	background-image: url(http://beta.cliqz.com/logo/seitwert.de.png);
}
.logo-selfhtml-org {
	background-image: url(http://beta.cliqz.com/logo/selfhtml.org.png);
}
.logo-serienjunkies-de {
	background-image: url(http://beta.cliqz.com/logo/serienjunkies.de.png);
}
.logo-shopware-de {
	background-image: url(http://beta.cliqz.com/logo/shopware.de.png);
}
.logo-shortnews-de {
	background-image: url(http://beta.cliqz.com/logo/shortnews.de.png);
}
.logo-shutterstock-com {
	background-image: url(http://beta.cliqz.com/logo/shutterstock.com.png);
}
.logo-sky-de {
	background-image: url(http://beta.cliqz.com/logo/sky.de.png);
}
.logo-skype-com {
	background-image: url(http://beta.cliqz.com/logo/skype.com.png);
}
.logo-slideshare-net {
	background-image: url(http://beta.cliqz.com/logo/slideshare.net.png);
}
.logo-smsvongesternnacht-de {
	background-image: url(http://beta.cliqz.com/logo/smsvongesternnacht.de.png);
}
.logo-sockshare-com {
	background-image: url(http://beta.cliqz.com/logo/sockshare.com.png);
}
.logo-softonic-de {
	background-image: url(http://beta.cliqz.com/logo/softonic.de.png);
}
.logo-soundcloud-com {
	background-image: url(http://beta.cliqz.com/logo/soundcloud.com.png);
}
.logo-sourceforge-net {
	background-image: url(http://beta.cliqz.com/logo/sourceforge.net.png);
}
.logo-sparda-de {
	background-image: url(http://beta.cliqz.com/logo/sparda.de.png);
}
.logo-sparwelt-de {
	background-image: url(http://beta.cliqz.com/logo/sparwelt.de.png);
}
.logo-spiegel-de {
	background-image: url(http://beta.cliqz.com/logo/spiegel.de.png);
}
.logo-spielaffe-de {
	background-image: url(http://beta.cliqz.com/logo/spielaffe.de.png);
}
.logo-sport1-de {
	background-image: url(http://beta.cliqz.com/logo/sport1.de.png);
}
.logo-sportschau-de {
	background-image: url(http://beta.cliqz.com/logo/sportschau.de.png);
}
.logo-spox-com {
	background-image: url(http://beta.cliqz.com/logo/spox.com.png);
}
.logo-stackexchange-com {
	background-image: url(http://beta.cliqz.com/logo/stackexchange.com.png);
}
.logo-stackoverflow-com {
	background-image: url(http://beta.cliqz.com/logo/stackoverflow.com.png);
}
.logo-stayfriends-de {
	background-image: url(http://beta.cliqz.com/logo/stayfriends.de.png);
}
.logo-stepstone-de {
	background-image: url(http://beta.cliqz.com/logo/stepstone.de.png);
}
.logo-stern-de {
	background-image: url(http://beta.cliqz.com/logo/stern.de.png);
}
.logo-stiftung-warentest-de {
	background-image: url(http://beta.cliqz.com/logo/stiftung-warentest.de.png);
}
.logo-strato-de {
	background-image: url(http://beta.cliqz.com/logo/strato.de.png);
}
.logo-streamcloud-eu {
	background-image: url(http://beta.cliqz.com/logo/streamcloud.eu.png);
}
.logo-stylebook-de {
	background-image: url(http://beta.cliqz.com/logo/stylebook.de.png);
}
.logo-sueddeutsche-de {
	background-image: url(http://beta.cliqz.com/logo/sueddeutsche.de.png);
}
.logo-sunmaker-com {
	background-image: url(http://beta.cliqz.com/logo/sunmaker.com.png);
}
.logo-swoodoo-com {
	background-image: url(http://beta.cliqz.com/logo/swoodoo.com.png);
}
.logo-t3n-de {
	background-image: url(http://beta.cliqz.com/logo/t3n.de.png);
}
.logo-tagesschau-de {
	background-image: url(http://beta.cliqz.com/logo/tagesschau.de.png);
}
.logo-tagesspiegel-de {
	background-image: url(http://beta.cliqz.com/logo/tagesspiegel.de.png);
}
.logo-tankionline-com {
	background-image: url(http://beta.cliqz.com/logo/tankionline.com.png);
}
.logo-taz-de {
	background-image: url(http://beta.cliqz.com/logo/taz.de.png);
}
.logo-tchibo-de {
	background-image: url(http://beta.cliqz.com/logo/tchibo.de.png);
}
.logo-telekom-com {
	background-image: url(http://beta.cliqz.com/logo/telekom.com.png);
}
.logo-telekom-de {
	background-image: url(http://beta.cliqz.com/logo/telekom.de.png);
}
.logo-testberichte-de {
	background-image: url(http://beta.cliqz.com/logo/testberichte.de.png);
}
.logo-theguardian-com {
	background-image: url(http://beta.cliqz.com/logo/theguardian.com.png);
}
.logo-themeforest-net {
	background-image: url(http://beta.cliqz.com/logo/themeforest.net.png);
}
.logo-thomann-de {
	background-image: url(http://beta.cliqz.com/logo/thomann.de.png);
}
.logo-tipico-com {
	background-image: url(http://beta.cliqz.com/logo/tipico.com.png);
}
.logo-t-mobile-de {
	background-image: url(http://beta.cliqz.com/logo/t-mobile.de.png);
}
.logo-t-online-de {
	background-image: url(http://beta.cliqz.com/logo/t-online.de.png);
}
.logo-tripadvisor-de {
	background-image: url(http://beta.cliqz.com/logo/tripadvisor.de.png);
}
.logo-trivago-de {
	background-image: url(http://beta.cliqz.com/logo/trivago.de.png);
}
.logo-trustedshops-de {
	background-image: url(http://beta.cliqz.com/logo/trustedshops.de.png);
}
.logo-tumblr-com {
	background-image: url(http://beta.cliqz.com/logo/tumblr.com.png);
}
.logo-tvmovie-de {
	background-image: url(http://beta.cliqz.com/logo/tvmovie.de.png);
}
.logo-tvspielfilm-de {
	background-image: url(http://beta.cliqz.com/logo/tvspielfilm.de.png);
}
.logo-twitch-tv {
	background-image: url(http://beta.cliqz.com/logo/twitch.tv.png);
}
.logo-twitter-com {
	background-image: url(http://beta.cliqz.com/logo/twitter.com.png);
}
.logo-tz-de {
	background-image: url(http://beta.cliqz.com/logo/tz.de.png);
}
.logo-united-domains-de {
	background-image: url(http://beta.cliqz.com/logo/united-domains.de.png);
}
.logo-uploaded-net {
	background-image: url(http://beta.cliqz.com/logo/uploaded.net.png);
}
.logo-ups-com {
	background-image: url(http://beta.cliqz.com/logo/ups.com.png);
}
.logo-urbia-de {
	background-image: url(http://beta.cliqz.com/logo/urbia.de.png);
}
.logo-urlaubspiraten-de {
	background-image: url(http://beta.cliqz.com/logo/urlaubspiraten.de.png);
}
.logo-vimeo-com {
	background-image: url(http://beta.cliqz.com/logo/vimeo.com.png);
}
.logo-vk-com {
	background-image: url(http://beta.cliqz.com/logo/vk.com.png);
}
.logo-vodafone-de {
	background-image: url(http://beta.cliqz.com/logo/vodafone.de.png);
}
.logo-vube-com {
	background-image: url(http://beta.cliqz.com/logo/vube.com.png);
}
.logo-w3schools-com {
	background-image: url(http://beta.cliqz.com/logo/w3schools.com.png);
}
.logo-wallstreet-online-de {
	background-image: url(http://beta.cliqz.com/logo/wallstreet-online.de.png);
}
.logo-watchever-de {
	background-image: url(http://beta.cliqz.com/logo/watchever.de.png);
}
.logo-wdr-de {
	background-image: url(http://beta.cliqz.com/logo/wdr.de.png);
}
.logo-web-de {
	background-image: url(http://beta.cliqz.com/logo/web.de.png);
}
.logo-webfail-com {
	background-image: url(http://beta.cliqz.com/logo/webfail.com.png);
}
.logo-webmasterplan-com {
	background-image: url(http://beta.cliqz.com/logo/webmasterplan.com.png);
}
.logo-weltbild-de {
	background-image: url(http://beta.cliqz.com/logo/weltbild.de.png);
}
.logo-welt-de {
	background-image: url(http://beta.cliqz.com/logo/welt.de.png);
}
.logo-wer-kennt-wen-de {
	background-image: url(http://beta.cliqz.com/logo/wer-kennt-wen.de.png);
}
.logo-wer-weiss-was-de {
	background-image: url(http://beta.cliqz.com/logo/wer-weiss-was.de.png);
}
.logo-westline-de {
	background-image: url(http://beta.cliqz.com/logo/westline.de.png);
}
.logo-wetter-com {
	background-image: url(http://beta.cliqz.com/logo/wetter.com.png);
}
.logo-wetteronline-de {
	background-image: url(http://beta.cliqz.com/logo/wetteronline.de.png);
}
.logo-wikia-com {
	background-image: url(http://beta.cliqz.com/logo/wikia.com.png);
}
.logo-wikimedia-org {
	background-image: url(http://beta.cliqz.com/logo/wikimedia.org.png);
}
.logo-wikipedia-org {
	background-image: url(http://beta.cliqz.com/logo/wikipedia.org.png);
}
.logo-wiktionary-org {
	background-image: url(http://beta.cliqz.com/logo/wiktionary.org.png);
}
.logo-winfuture-de {
	background-image: url(http://beta.cliqz.com/logo/winfuture.de.png);
}
.logo-wiwo-de {
	background-image: url(http://beta.cliqz.com/logo/wiwo.de.png);
}
.logo-wordpress-com {
	background-image: url(http://beta.cliqz.com/logo/wordpress.com.png);
}
.logo-woxikon-de {
	background-image: url(http://beta.cliqz.com/logo/woxikon.de.png);
}
.logo-wunderweib-de {
	background-image: url(http://beta.cliqz.com/logo/wunderweib.de.png);
}
.logo-wuv-de {
	background-image: url(http://beta.cliqz.com/logo/wuv.de.png);
}
.logo-xing-com {
	background-image: url(http://beta.cliqz.com/logo/xing.com.png);
}
.logo-xovi-de {
	background-image: url(http://beta.cliqz.com/logo/xovi.de.png);
}
.logo-yahoo-com {
	background-image: url(http://beta.cliqz.com/logo/yahoo.com.png);
}
.logo-yandex-ru {
	background-image: url(http://beta.cliqz.com/logo/yandex.ru.png);
}
.logo-yelp-de {
	background-image: url(http://beta.cliqz.com/logo/yelp.de.png);
}
.logo-youtube-com {
	background-image: url(http://beta.cliqz.com/logo/youtube.com.png);
}
.logo-zalando-de {
	background-image: url(http://beta.cliqz.com/logo/zalando.de.png);
}
.logo-zanox-com {
	background-image: url(http://beta.cliqz.com/logo/zanox.com.png);
}
.logo-zattoo-com {
	background-image: url(http://beta.cliqz.com/logo/zattoo.com.png);
}
.logo-zdf-de {
	background-image: url(http://beta.cliqz.com/logo/zdf.de.png);
}
.logo-zeit-de {
	background-image: url(http://beta.cliqz.com/logo/zeit.de.png);
}
.logo-ab-in-den-urlaub-de {
	background-image: url(http://beta.cliqz.com/logo/ab-in-den-urlaub.de.png);
}
.logo-adidas-de {
	background-image: url(http://beta.cliqz.com/logo/adidas.de.png);
}
.logo-affili-net {
	background-image: url(http://beta.cliqz.com/logo/affili.net.png);
}
.logo-amazonaws-com {
	background-image: url(http://beta.cliqz.com/logo/amazonaws.com.png);
}
.logo-amica-de {
	background-image: url(http://beta.cliqz.com/logo/amica.de.png);
}
.logo-android-hilfe-de {
	background-image: url(http://beta.cliqz.com/logo/android-hilfe.de.png);
}
.logo-angela-merkel-de {
	background-image: url(http://beta.cliqz.com/logo/angela-merkel.de.png);
}
.logo-arbeitsagentur-de {
	background-image: url(http://beta.cliqz.com/logo/arbeitsagentur.de.png);
}
.logo-archive-org {
	background-image: url(http://beta.cliqz.com/logo/archive.org.png);
}
.logo-arcor-de {
	background-image: url(http://beta.cliqz.com/logo/arcor.de.png);
}
.logo-ard-de {
	background-image: url(http://beta.cliqz.com/logo/ard.de.png);
}
.logo-ardmediathek-de {
	background-image: url(http://beta.cliqz.com/logo/ardmediathek.de.png);
}
.logo-augsburger-allgemeine-de {
	background-image: url(http://beta.cliqz.com/logo/augsburger-allgemeine.de.png);
}
.logo-avm-de {
	background-image: url(http://beta.cliqz.com/logo/avm.de.png);
}
.logo-axelspringer-de {
	background-image: url(http://beta.cliqz.com/logo/axelspringer.de.png);
}
.logo-basecamp {
	background-image: url(http://beta.cliqz.com/logo/basecamp.png);
}
.logo-battle-net {
	background-image: url(http://beta.cliqz.com/logo/battle.net.png);
}
.logo-battlefield-com {
	background-image: url(http://beta.cliqz.com/logo/battlefield.com.png);
}
.logo-bbc-co-uk {
	background-image: url(http://beta.cliqz.com/logo/bbc.co.uk.png);
}
.logo-bertelsmann-de {
	background-image: url(http://beta.cliqz.com/logo/bertelsmann.de.png);
}
.logo-blog-de {
	background-image: url(http://beta.cliqz.com/logo/blog.de.png);
}
.logo-bmjv-de {
	background-image: url(http://beta.cliqz.com/logo/bmjv.de.png);
}
.logo-bmw-de {
	background-image: url(http://beta.cliqz.com/logo/bmw.de.png);
}
.logo-br-de {
	background-image: url(http://beta.cliqz.com/logo/br.de.png);
}
.logo-bundesregierung-de {
	background-image: url(http://beta.cliqz.com/logo/bundesregierung.de.png);
}
.logo-burdadirektservices-de {
	background-image: url(http://beta.cliqz.com/logo/burdadirektservices.de.png);
}
.logo-cdu-de {
	background-image: url(http://beta.cliqz.com/logo/cdu.de.png);
}
.logo-cellular-de {
	background-image: url(http://beta.cliqz.com/logo/cellular.de.png);
}
.logo-cinema-de {
	background-image: url(http://beta.cliqz.com/logo/cinema.de.png);
}
.logo-cliqz-com {
	background-image: url(http://beta.cliqz.com/logo/cliqz.com.png);
}
.logo-computeruniverse-net {
	background-image: url(http://beta.cliqz.com/logo/computeruniverse.net.png);
}
.logo-conrad-de {
	background-image: url(http://beta.cliqz.com/logo/conrad.de.png);
}
.logo-csu-de {
	background-image: url(http://beta.cliqz.com/logo/csu.de.png);
}
.logo-cyberport-de {
	background-image: url(http://beta.cliqz.com/logo/cyberport.de.png);
}
.logo-dailymail-co-uk {
	background-image: url(http://beta.cliqz.com/logo/dailymail.co.uk.png);
}
.logo-daskochrezept-de {
	background-image: url(http://beta.cliqz.com/logo/daskochrezept.de.png);
}
.logo-dawanda-com {
	background-image: url(http://beta.cliqz.com/logo/dawanda.com.png);
}
.logo-dbk-de {
	background-image: url(http://beta.cliqz.com/logo/dbk.de.png);
}
.logo-dejure-org {
	background-image: url(http://beta.cliqz.com/logo/dejure.org.png);
}
.logo-denic-de {
	background-image: url(http://beta.cliqz.com/logo/denic.de.png);
}
.logo-derwesten-de {
	background-image: url(http://beta.cliqz.com/logo/derwesten.de.png);
}
.logo-deutschland-de {
	background-image: url(http://beta.cliqz.com/logo/deutschland.de.png);
}
.logo-df-eu {
	background-image: url(http://beta.cliqz.com/logo/df.eu.png);
}
.logo-dict-cc {
	background-image: url(http://beta.cliqz.com/logo/dict.cc.png);
}
.logo-die-linke-de {
	background-image: url(http://beta.cliqz.com/logo/die-linke.de.png);
}
.logo-dld-conference-de {
	background-image: url(http://beta.cliqz.com/logo/dld-conference.de.png);
}
.logo-doodle-com {
	background-image: url(http://beta.cliqz.com/logo/doodle.com.png);
}
.logo-elitepartner-de {
	background-image: url(http://beta.cliqz.com/logo/elitepartner.de.png);
}
.logo-elle-de {
	background-image: url(http://beta.cliqz.com/logo/elle.de.png);
}
.logo-fahrinfo-berlin-de {
	background-image: url(http://beta.cliqz.com/logo/fahrinfo-berlin.de.png);
}
.logo-fcbayern-de {
	background-image: url(http://beta.cliqz.com/logo/fcbayern.de.png);
}
.logo-fcbayern.telekom-de {
	background-image: url(http://beta.cliqz.com/logo/fcbayern.telekom.de.png);
}
.logo-fck-de {
	background-image: url(http://beta.cliqz.com/logo/fck.de.png);
}
.logo-fdp-de {
	background-image: url(http://beta.cliqz.com/logo/fdp.de.png);
}
.logo-finanzen100-de {
	background-image: url(http://beta.cliqz.com/logo/finanzen100.de.png);
}
.logo-fitforfun-de {
	background-image: url(http://beta.cliqz.com/logo/fitforfun.de.png);
}
.logo-flashx-tv {
	background-image: url(http://beta.cliqz.com/logo/flashx.tv.png);
}
.logo-flickr-com {
	background-image: url(http://beta.cliqz.com/logo/flickr.com.png);
}
.logo-freundin-de {
	background-image: url(http://beta.cliqz.com/logo/freundin.de.png);
}
.logo-gesetze-im-internet-de {
	background-image: url(http://beta.cliqz.com/logo/gesetze-im-internet.de.png);
}
.logo-gruene-de {
	background-image: url(http://beta.cliqz.com/logo/gruene.de.png);
}
.logo-gucci-com {
	background-image: url(http://beta.cliqz.com/logo/gucci.com.png);
}
.logo-gulli-com {
	background-image: url(http://beta.cliqz.com/logo/gulli.com.png);
}
.logo-heftig-co {
	background-image: url(http://beta.cliqz.com/logo/heftig.co.png);
}
.logo-hermes-com {
	background-image: url(http://beta.cliqz.com/logo/hermes.com.png);
}
.logo-hm-com {
	background-image: url(http://beta.cliqz.com/logo/hm.com.png);
}
.logo-hsv-de {
	background-image: url(http://beta.cliqz.com/logo/hsv.de.png);
}
.logo-hubert-burda-media-de {
	background-image: url(http://beta.cliqz.com/logo/hubert-burda-media.de.png);
}
.logo-iminent-com {
	background-image: url(http://beta.cliqz.com/logo/iminent.com.png);
}
.logo-intraship-de {
	background-image: url(http://beta.cliqz.com/logo/intraship.de.png);
}
.logo-jimdo-com {
	background-image: url(http://beta.cliqz.com/logo/jimdo.com.png);
}
.logo-juris-de {
	background-image: url(http://beta.cliqz.com/logo/juris.de.png);
}
.logo-kasserver-com {
	background-image: url(http://beta.cliqz.com/logo/kasserver.com.png);
}
.logo-klicktel-de {
	background-image: url(http://beta.cliqz.com/logo/klicktel.de.png);
}
.logo-kopp-verlag-de {
	background-image: url(http://beta.cliqz.com/logo/kopp-verlag.de.png);
}
.logo-leo-org {
	background-image: url(http://beta.cliqz.com/logo/leo.org.png);
}
.logo-magentocommerce-com {
	background-image: url(http://beta.cliqz.com/logo/magentocommerce.com.png);
}
.logo-max-de {
	background-image: url(http://beta.cliqz.com/logo/max.de.png);
}
.logo-mercedes-benz-de {
	background-image: url(http://beta.cliqz.com/logo/mercedes-benz.de.png);
}
.logo-mietwagencheck-de {
	background-image: url(http://beta.cliqz.com/logo/mietwagencheck.de.png);
}
.logo-muenchen-de {
	background-image: url(http://beta.cliqz.com/logo/muenchen.de.png);
}
.logo-munich-airport-de {
	background-image: url(http://beta.cliqz.com/logo/munich-airport.de.png);
}
.logo-mvg-mobil-de {
	background-image: url(http://beta.cliqz.com/logo/mvg-mobil.de.png);
}
.logo-mysearchdial-com {
	background-image: url(http://beta.cliqz.com/logo/mysearchdial.com.png);
}
.logo-netmoms-de {
	background-image: url(http://beta.cliqz.com/logo/netmoms.de.png);
}
.logo-nsa-gov {
	background-image: url(http://beta.cliqz.com/logo/nsa.gov.png);
}
.logo-o2online-de {
	background-image: url(http://beta.cliqz.com/logo/o2online.de.png);
}
.logo-opodo-co-uk {
	background-image: url(http://beta.cliqz.com/logo/opodo.co.uk.png);
}
.logo-organize-me {
	background-image: url(http://beta.cliqz.com/logo/organize.me.png);
}
.logo-paketplus-de {
	background-image: url(http://beta.cliqz.com/logo/paketplus.de.png);
}
.logo-payback-de {
	background-image: url(http://beta.cliqz.com/logo/payback.de.png);
}
.logo-pearl-de {
	background-image: url(http://beta.cliqz.com/logo/pearl.de.png);
}
.logo-playboy-de {
	background-image: url(http://beta.cliqz.com/logo/playboy.de.png);
}
.logo-porsche-com {
	background-image: url(http://beta.cliqz.com/logo/porsche.com.png);
}
.logo-prada-com {
	background-image: url(http://beta.cliqz.com/logo/prada.com.png);
}
.logo-presseportal-de {
	background-image: url(http://beta.cliqz.com/logo/presseportal.de.png);
}
.logo-puma-de {
	background-image: url(http://beta.cliqz.com/logo/puma.de.png);
}
.logo-radiogong-de {
	background-image: url(http://beta.cliqz.com/logo/radiogong.de.png);
}
.logo-schlossbensberg-com {
	background-image: url(http://beta.cliqz.com/logo/schlossbensberg.com.png);
}
.logo-singleguide24-com {
	background-image: url(http://beta.cliqz.com/logo/singleguide24.com.png);
}
.logo-siteadvisor-com {
	background-image: url(http://beta.cliqz.com/logo/siteadvisor.com.png);
}
.logo-snapdo-com {
	background-image: url(http://beta.cliqz.com/logo/snapdo.com.png);
}
.logo-spd-de {
	background-image: url(http://beta.cliqz.com/logo/spd.de.png);
}
.logo-stargames-at {
	background-image: url(http://beta.cliqz.com/logo/stargames.at.png);
}
.logo-steampowered-com {
	background-image: url(http://beta.cliqz.com/logo/steampowered.com.png);
}
.logo-systweak-com {
	background-image: url(http://beta.cliqz.com/logo/systweak.com.png);
}
.logo-t-co {
	background-image: url(http://beta.cliqz.com/logo/t.co.png);
}
.logo-tantris-de {
	background-image: url(http://beta.cliqz.com/logo/tantris.de.png);
}
.logo-test-de {
	background-image: url(http://beta.cliqz.com/logo/test.de.png);
}
.logo-tomorrow-focus-media-de {
	background-image: url(http://beta.cliqz.com/logo/tomorrow-focus-media.de.png);
}
.logo-tomorrow-focus-de {
	background-image: url(http://beta.cliqz.com/logo/tomorrow-focus.de.png);
}
.logo-top-de {
	background-image: url(http://beta.cliqz.com/logo/top.de.png);
}
.logo-tradedoubler-com {
	background-image: url(http://beta.cliqz.com/logo/tradedoubler.com.png);
}
.logo-transfermarkt-de {
	background-image: url(http://beta.cliqz.com/logo/transfermarkt.de.png);
}
.logo-traube-tonbach-de {
	background-image: url(http://beta.cliqz.com/logo/traube-tonbach.de.png);
}
.logo-tvtoday-de {
	background-image: url(http://beta.cliqz.com/logo/tvtoday.de.png);
}
.logo-urlm-de {
	background-image: url(http://beta.cliqz.com/logo/urlm.de.png);
}
.logo-utrace-de {
	background-image: url(http://beta.cliqz.com/logo/utrace.de.png);
}
.logo-valentins-de {
	background-image: url(http://beta.cliqz.com/logo/valentins.de.png);
}
.logo-volkswagen-de {
	background-image: url(http://beta.cliqz.com/logo/volkswagen.de.png);
}
.logo-w3-org {
	background-image: url(http://beta.cliqz.com/logo/w3.org.png);
}
.logo-wetter-de {
	background-image: url(http://beta.cliqz.com/logo/wetter.de.png);
}
.logo-wg-gesucht-de {
	background-image: url(http://beta.cliqz.com/logo/wg-gesucht.de.png);
}
.logo-wordpress-org {
	background-image: url(http://beta.cliqz.com/logo/wordpress.org.png);
}
.logo-wpde-org {
	background-image: url(http://beta.cliqz.com/logo/wpde.org.png);
}
.logo-zoover-de {
	background-image: url(http://beta.cliqz.com/logo/zoover.de.png);
}
