* {
    margin: 0;
    padding: 0;
}

input {
    display: block;
    margin: 100px auto 0;
    height: 0px;
    font-size: 20px;
	display: none;
}

#results {
	height: 300px;
	margin: 0px auto;
	border: 1px solid gray;
}