*.xpi
*.pyc
*~
*#

# ignore invisible files
.Trashes
.Spotlight-V100
.DS_Store
.vagrant

# build folders
build/
.idea/

# external components
node_modules
bower_components
cliqz@cliqz.com/modules/*_bck.jsm

*.scssc
generic/static/styles/css/
specific/firefox/cliqz@cliqz.com/chrome/content/loyalty/*_bck.*