/*--------------- Local EZ ----------- */
#cliqz-results .cqz-local-top-blk {height: 80px; margin-bottom: 10px;}
#cliqz-results .cqz-local-top-blk .cqz-rd-h3img-div {height: 100%; margin-bottom: 5px;}
#cliqz-results .cqz-local-hr {
    width: 100%;
    height: 1px;
    background-color: #cccccc;
    margin-top: 10px;}
#cliqz-results .cqz-local-des-blk {width: calc(100% - 90px); max-width: 550px;}
#cliqz-results .cqz-local-info-left {width: calc(50% - 20px); float: left; margin-right: 39px;}
#cliqz-results .cqz-local-info-right {width: calc(50% - 19px); float: left}
#cliqz-results .cqz-local-info {margin-top: 18px;}
#cliqz-results .cqz-local-icon {
    height: 14px;
    padding-right: 10px;
    transform: translateY(1px);
    float:left;}
#cliqz-results .cqz-local-address{margin-bottom: 10px; color: #506bb8}
#cliqz-results .cqz-local-time{color: #506bb8}
#cliqz-results .cqz-local-img-container {
    height:80px;
    width: 80px;
    cursor:pointer;
    float:left;
    margin-right: 10px;
}
#cliqz-results .local-data-img {
    cursor:pointer;
}

/*--------------- END LOCAL EZ ----------- */
