/*--------------- Local EZ ----------- */

.cqz-local-result {
    .cqz-zone-holder { width: calc(100% - 90px); max-width: $zones-max-width; }
    .cqz-local-top-blk { height: auto; margin-bottom: 0; }
    .cqz-local-top-blk .cqz-rd-h3img-div { height: 100%; margin-bottom: 5px; }

    .cqz-local-hr {
        width: 100%;
        height: 1px;
        padding: 0;
        margin: 10px 0 0;
        border: none;
        background-color: #cccccc;
    }

    .cqz-local-des-blk { width: 100%; max-width: 100%; }

    .cqz-local-info-box {
        float: left;
        width: calc(50% - 20px);
        margin-right: 39px;

        * { @extend .cqz-ellipsis; }
        &:last-child { margin: 0; }
    }

    .cqz-local-info {
        margin-top: 18px;
        line-height: 1.3em;

<<<<<<< HEAD
=======
        * {}
>>>>>>> 85bde2c23e94de39b6dd4f47d502299d071c2fd5
        p { margin: 0; }
        .cqz-local-address { margin-bottom: 10px; color: #506bb8; cursor:pointer; }
        .cqz-local-time {
            padding-left: 24px;
            color: #506bb8;

            .cqz-local-time-title {
                margin-left: -24px;
            }
            .cqz-local-icon {
                float: left;
                width: 14px;
                height: 14px;
                margin-right: 10px;
                transform: translateY(1px);
            }
        }
    }

    .local-data-img { cursor:pointer; }

    .cqz-local-img-container {
         cursor: pointer;
         float: left;
         height: 80px;
         width: 80px;
         margin-right: 10px;
    }

    .local-sc-data-container { overflow: hidden; }
    .cqz-local-result-descr {
        @extend .cqz-ellipsis;

        clear: both;
        margin: 18px 0 0;
    }
}
