doctype html
html
    head
        title developer tool
        link(rel="icon",href="/tool/skin/cliqz.png",type="image/x-icon")
        link(href="/views/css/style.css",rel="stylesheet",type="text/css")
        script(src="//localhost:3001/livereload.js")
        script(src="/tool/js/libs.js")
        script(src="/views/js/environment.js")
        script(src="/tool/js/global.js")
        script(src="/tool/js/local.js")
    body
        input#urlbar(autofocus="true")
        #results
        script(src="/views/js/debug.js")
