<div id="topVisited" class="center">
  {{speed-dials model=model.speedDials}}
</div>

<div class="wrap">

  <div id="searchContainer" class="center">
  {{url-bar}}
  </div>

  <div id="newsContainer" class="clearfix">
    {{all-news model=model.news}}
  </div>
</div>
<br /><br /><br />
