body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased; }

a, a:hover, a:visited {
  color: inherit;
  text-decoration: inherit; }

body, html {
  height: 100%; }

.invis {
  opacity: 0; }

.hidden {
  display: none; }

.white-cover {
  min-height: 100%;
  background-color: white;
  position: relative;
  height: auto;
  height: 100%;
  min-height: 100%; }

.background {
  background-color: #ecf0f1;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

#bottom-speed-dial-padding {
  height: 40px; }
@media(min-width:1200px) {
  #bottom-speed-dial-padding {
    height: 100px; } }
#speed-dial-padding {
  height: 40px;
  line-height: 40px; }
  #speed-dial-padding .col-xs-6, #speed-dial-padding .row {
    height: 100%;
    padding: 0 8px; }
@media(min-width:1200px) {
  #speed-dial-padding {
    height: 100px;
    line-height: 100px; } }
.card-container {
  margin: 0 0px; }
  .card-container .col-xs-3 {
    padding: 0; }
    .card-container .col-xs-3 .card {
      margin: 8px 5px; }

.card-row-container {
  max-width: 100%;
  overflow: hidden;
  margin: 0 0px; }
  .card-row-container .col-xs-12.col-sm-6 {
    padding: 0; }
    .card-row-container .col-xs-12.col-sm-6 .card-row {
      margin: 8px 5px; }

.card {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: "Lato", sans-serif;
  text-align: center; }
  .card h1 {
    margin-top: 0;
    font-weight: 300;
    font-size: 34px;
    padding-top: 10px; }
  .card p.lead {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 12px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px; }
@media(min-width:1200px) {
  .card {
    padding: 5px 5px;
    margin-bottom: 20px; }
    .card h1 {
      font-weight: 300;
      font-size: 68px; }
    .card p.lead {
      font-weight: 300;
      font-size: 18px; } }
.card-new h1 span {
  position: relative;
  top: 7px;
  font-weight: 300; }

.dropzone {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: "Lato", sans-serif;
  text-align: center;
  height: 100%;
  font-weight: 300;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.hover.hover {
  background-color: #2f8095; }

#remove-card {
  margin-left: 5px; }

#edit-card {
  margin-right: 5px; }

.card:hover {
  background-color: #2f8095;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer; }

.card-row {
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.36);
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding: 5px; }
  .card-row span {
    line-height: 100%;
    padding-left: 10px; }

.card-row:hover {
  background-color: #2f8095;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer; }

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.cliqz-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 1px 5px 0 0;
  text-align: center;
  padding-top: 8px;
  color: white;
  font-weight: bold;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
}

.card-row {
  position: relative; }
  .card-row .favicon {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 6px; }
  .card-row .title {
    max-width: 100%;
    padding-left: 20px; }

.btn-primary, .btn-info {
  background-color: #2f8095;
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  padding: 0;
  box-shadow: 0px 0px 10px #999999 !important; }

.btn-primary.btn-large {
  height: 50px;
  line-height: 50px;
  color: white; }
@media(min-width:1200px) {
  .btn-primary.btn-large {
    font-size: 18px; } }
.btn-primary:hover {
  background-color: #2f8095;
  box-shadow: 0px 0px 10px #999999 !important; }

.btn-shadow-1 {
  box-shadow: 0px 0px 10px #999999 !important; }

#search {
  width: 100%;
  height: 30px;
  border: 0;
    margin: 0;
  padding: 0 15px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px;
  outline: 0; }

.search-container {
  padding-top: 100px; }

.history-lis {

}
  .history-lis a {
    display: block;
}
  .history-lis .mostvisited {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    float: left;
    width: 25%;
  }

  @media(max-width:1200px) {
    .history-lis .mostvisited {
      width: 33.3333%;
    }
  }

    @media(max-width:800px) {
    .history-lis .mostvisited {
      width: 50%;
    }
  }

  .history-lis .mostvisited[selected="selected"] .history-row {
    border: 2px solid #999;
    margin: 3px;
  }

  .history-row {
    margin: 5px;
    padding: 15px 10px;
    background-color: white;
  }

  .history-icon {
    float: left;
  }

  .history-desc {
    float: left;
    width: calc(100% - 40px);
    padding-left: 5px;
  }

  .history-title {
    color: black;
    font-size: 14px;
    font-weight: 400;
  }

  .history-url {
    color: gray;
    font-size: 11px;
  }

.search-box {
  position: relative;
  margin: 0px 5px 5px 5px;
}

#search-dropdown {
  width: 100%;
  padding: 0px;
  border-radius: 0 0 4px 4px;
  position: absolute;
  z-index: 1;
  border: 1px solid #CCC;
}
#search-dropdown li.result {
  padding: 0 12px;
  display: block;
  clear: both;
  font-weight: 400;
  border-bottom: 1px solid #ccc;
}
#search-dropdown li.result:last-of-type {
  border:0px;
}

#search-dropdown .result[type="history"] .result-title {
  color: #702072;
}

#search-dropdown li.result>* {
  display: inline-block;
  vertical-align: middle;
}

#search-dropdown .result-title {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  color: #082776;
}

#search-dropdown .result-url {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  margin-top: -4px;
  color: #988f8f;
}

.result-url-path {
  display: none;
}

.result[selected="selected"] .result-url-path {
  display: inline;
}

#search-dropdown .result-desc {
  line-height: 1em;
  /*max-*/height: 2.3em;
  overflow: hidden;
  padding-top: 0.3em;
  color: #333333;
}

#search-dropdown .result-icon {
  display: inline-block;
  background-color: red;
}

#search-dropdown * {
  box-sizing: unset;
  font-family: "Helvetica",Helvetica,Arial,sans-serif !important;
}

#search-dropdown .result-data {
  width: calc(100% - 50px);
  padding: 7px 20% 7px 0;
}

.result[selected="selected"] {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.options-btn {
  position: absolute;
  z-index: 1;
  right: 50px;
  top: 20px;
  background-image: url(../images/logos/google.svg);
  background-color: rgb(47, 196, 252);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  cursor: pointer;
}

.options-container {
  display: none;
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 62px;
  width: 166px;
  border: 1px solid #eee;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  padding: 10px;
}
.options-container:before {
  border-color: transparent;
  border-bottom-color: #fff;
  border-style: dashed dashed solid;
  border-width: 0 8.5px 8.5px;
  content: ' ';
  position: absolute;
  right: 39px;
  top: -8px;
}

.option {
  display: inline-block !important;
  height: 67px;
  width: 70px;
  padding-top: 45px;
  background-repeat: no-repeat;
  background-position: center 20%;
  text-align: center;
  border: 1px solid transparent;
  background-size: 40px;
  cursor: pointer;
  font-family: "Lato", sans-serif;
}

.option:hover {
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.inline-google {
  background-color: white;
  display: inline-block;
  margin: 5px;
}

.input-box {
    width: 100%;
}
