<!DOCTYPE html PUBLIC"-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <script type="text/javascript" src="chrome://cliqz/content/libs/handlebars-v1.3.0.js"></script>
    <script type="text/javascript" src="chrome://cliqzmodules/content/CliqzUtils.jsm"></script>
    <script type="text/javascript" src="chrome://cliqz/content/UI.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.js"></script>
    <style type="text/css">
        body {
            margin: 0px;
            padding: 0px;
        }
        #container{
        }
    </style>
</head>
<body>
<div id='buffer' class="hidden"></div>
<div id='container'></div>

<script type="text/javascript" src="test.js"></script>
<script type="text/javascript">
    function a(text, q) {
            if(q.length < 2) return text;

            var map = Array(text.length),
                tokens = q.toLowerCase().split(/\s+/),
                lowerText = text.toLowerCase();

            tokens.forEach(function(token){
                debugger;
                var poz = lowerText.indexOf(token);
                while(poz !== -1){
                    for(var i=poz; i<token.length; i++)
                        map[i] = true;
                    poz = lowerText.indexOf(token, poz+1);
                }
            });

            return map
    }

    console.log(a("Munich is big BIG", "mu big"));
</script>
</body>
</html>