.speed-dial {
  .notifyDot {
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 8px;
    font-weight: normal;
  }

  &.new-notifications {
    color: red;
    .title {
      .newEmail {
        background-color: red;
      }
      span {
        font-weight: bold;
      }
    }
  }

  .inaccessible {
    background-color: #999999;
  }
}
