/* common */
* {
    margin: 0;
    padding: 0;
}
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42857143;
}
body, html { height: 100%; }
a, a:hover, a:visited { color: inherit; text-decoration: inherit; }
.hidden { display: none; }
.ellipsis { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; }

/* containers */
.background {
  background-color: #ecf0f1;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.search-container { padding-top: 100px; margin: 0 auto; overflow: hidden; box-sizing: border-box; }
@media (min-width: 768px) { .search-container { width: 750px; } }
@media (min-width: 992px) { .search-container { width: 970px; } }
@media (min-width: 1200px) { .search-container { width: 1170px; } }

/* history */
.history-lis {
    margin-bottom: 5px;
}
.history-lis a {
    display: block;
}
.history-lis .mostvisited {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    float: left;
    width: 25%;
}
@media(max-width:1200px) {
    .history-lis .mostvisited {
        width: 33.3333%;
    }
}
@media(max-width:800px) {
    .history-lis .mostvisited {
        width: 50%;
    }
}
.history-lis .mostvisited[selected="selected"] .history-row {
    border: 2px solid #999;
    margin: 3px;
    box-sizing: border-box;
}
.history-row {
    margin: 5px;
    padding: 15px 10px;
    background-color: white;
    box-sizing: border-box;
    position: relative;
}
.history-row:hover {
    outline: 2px solid #5ea3f9 
}
.history-row .close, .history-row .pin {
    position: absolute;
    right: 5px;
    top: 5px;
    display: none;
    height: 20px;
    width: 20px;
    border: 1px solid white;
    background: url(http://cdn.cliqz.com/extension/newtab/history-items/close.svg) no-repeat center center;
}
.history-row .pin/*, a.pinned .history-row .pin:hover*/ {
    top: auto;
    bottom: 5px;
    background: url(http://cdn.cliqz.com/extension/newtab/history-items/pin-nopadding.svg) no-repeat center center;
}
a.pinned .pin, .history-row:hover .pin, .history-row:hover .close { display: block; }
a.pinned .pin, .history-row .pin:hover {
    background-image: url(http://cdn.cliqz.com/extension/newtab/history-items/pin-blue.svg);
}
.history-row .close:hover {
    background-image: url(http://cdn.cliqz.com/extension/newtab/history-items/close-red.svg);
}
.history-icon {
    float: left;
    font-size: 16px;
}
.history-desc {
    float: left;
    width: calc(100% - 60px);
    padding-left: 12px;
    box-sizing: border-box;
}
.history-title {
    color: black;
    font-size: 14px;
    font-weight: 400;
}
.history-url {
    color: gray;
    font-size: 11px;
}
.history-lis a:hover .history-url.blurred, .history-lis a .history-url.hovered {
    display: none;
}
.history-lis a .history-url.blurred, .history-lis a:hover .history-url.hovered {
    display: block;
}

#history-popup {
    position: absolute;
    top: 20px;
    left: 20px;
    background: #fff;    
    padding: 6px 10px;
    border: 1px solid #efefef;
    border-radius: 6px 6px;
    color: #666666;
    display: none;
    font-weight: 300;
}

#history-popup span {
    display: inline-block;
    padding: 0 2px;
    text-decoration: underline;
    color: #5ea3f9;
    cursor: pointer;
}

#history-popup .dismiss {
    display: inline-block;
    width: 10px;
    height: 9px;
    background: url(http://cdn.cliqz.com/extension/newtab/history-items/dismiss-msg.svg) no-repeat left top;
    background-size: contain;
    margin-left: 3px;
    cursor: pointer;
}

/* search */
.search-box { margin: 0 5px 5px; }
#search {
    width: 100%;
    height: 30px;
    border: 1px solid #cccccc;
    padding: 0 15px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 14px;
    outline: 0;
    box-sizing: border-box;
}

/* webkit */
::-webkit-input-placeholder { color: #777; font-size: 14px; font-weight: 300; font-family: "Lato", sans-serif; }
/* Firefox 19+ */
::-moz-placeholder          { color: #777;  font-size: 14px; font-weight: 300; font-family: "Lato", sans-serif; }
/* Firefox 18- */
:-moz-placeholder           { color: #777; font-size: 14px; font-weight: 300; font-family: "Lato", sans-serif; }

#search-dropdown {
    padding: 0;
    position: absolute;
    z-index: 1;
    background-color:white;
    color:black;
    overflow: hidden;
    border: 1px solid #cccccc;
    margin-top: 2px;
    border-bottom: 0;
    box-sizing: border-box;
}

.result[selected="selected"] {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}