{{#if internalResults}}
    <div class='buttons padded'>
        {{#if logo}}
            <span class="dot" style="background-color: #{{logo.backgroundColor}}"></span>
        {{/if}}
        {{#each (take internalResults internalResultsLimit)}}
            <a class="result btn {{className}}" href="{{ url }}">
                {{local title}} {{#if suffixImageUrl}}<div class="spinner"></div>{{/if}}
            </a>
        {{/each}}
    </div>
{{/if}}
