<nav id="sidebar">
  <div class="logo"><a href="https://cliqz.com/"><img src="images/cliqz.svg" alt=""/></a></div>

  <div class="resp-nav">
    <button class="toggle-btn" type="button">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  </div>
  <ul class="cliqz-nav" id="menu">
      <li><a data-item="index" class="active nav-item" title="Übersicht" href="#/index"><span>Übersicht</span></a></li>
      <li><a data-item="results-usage" class="nav-item" title="Deine Statistiken"  href="#/results-usage"><span>Deine Statistiken</span></a></li>
      <li><a data-item="status_info" class="nav-item" title="Statusinformationen"  href="#/status_info"><span>Statusinformationen</span></a></li>
  </ul>
</nav>
