<nav id="sidebar">
  <div class="logo"><a href="https://cliqz.com/"><img src="images/cliqz.svg" alt=""/></a></div>
  <div class="cliqz-label">We saved you:</div>
  <div class="savedMinutes">
      <ul>
          <li>last 7 days:</li>
          <li>3 mins</li>
      </ul>
      <div class="pWrapper"><div style="width: 78%;" class="progressG" title="78%"></div></div>
  </div>

  <div class="resp-nav">
    <button class="toggle-btn" type="button">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  </div>
  <ul class="cliqz-nav" id="menu">
      <li class="dash"><a data-item="index" class="active nav-item" title="Dashboard" href="#/index"><span>Dashboard</span></a></li>
      <li class="charts"><a data-item="results-usage" class="nav-item" title="Results usage"  href="#/results-usage"><span>Results usage</span></a></li>
  </ul>
</nav>
