<div id="optinContainer">
  <div id="optinBackground"></div>
  <div id="optinContent">
    <h2>CLIQZ for Glory Programm</h2>
    <p>Du fühlst dich zu Höherem berufen - dein Nachbar hat jedoch bereits das verwaiste Igelbaby mit der Flasche großgezogen?
        Die Finanzkrise wurde abgewendet?
        Dann bekommst du hier deine zweite Chance!
        Sammle Punkte für Ruhm und Ehre - steige auf in den Olymp von CLIQZ-Usern und Reihe dich ein unter Helden, die deiner Gesellschaft würdig sind!</p>
    <p class="clz-optin-intro-small">Steige auf zum Buddy, Hero und schließlich zur Legende. Du  siehst, wie und wie oft du CLIQZ nutzt und erfährst im Detail, wie CLIQZ deine Wege im Internet direkter, schneller und sicherer macht.</p>

    <div class="optin-cta-con">
      <div class="cqz-optin-btn">Go for Glory! </div>
    </div>
  </div>
</div>
