/**
Source: http://jsfiddle.net/greypants/zgCb7/
Some alternative:
http://thechoppr.com/samples/tooltip/
http://thechoppr.com/blog/2013/06/how-to-code-simple-css3-tooltip/  (from http://thechoppr.com/blog/2013/06/how-to-code-simple-css3-tooltip/)
**/

.wrapper {
  position: relative;
  -webkit-transform: translateZ(0); /* webkit flicker fix */
  -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}

.wrapper .tooltip {
  background: #8c275f;
  font-weight: 300;
  bottom: 100%;
  color: #fff;
  display: block;
  margin-bottom: 15px;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
  position: absolute;
  text-align: left;
  width: 200%;
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
/*.wrapper .tooltip:before {*/
  /*bottom: -20px;*/
  /*content: " ";*/
  /*display: block;*/
  /*height: 20px;*/
  /*left: 0;*/
  /*position: absolute;*/
  /*width: 100%;*/
/*}  */

/* CSS Triangles - see Trevor's post */
.wrapper .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #8c275f 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 25%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}
  
.wrapper:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

/* IE can just show/hide with no transition */
.lte8 .wrapper .tooltip {
  display: none;
}

.lte8 .wrapper:hover .tooltip {
  display: block;
}