<a title="Facebook" href="https://www.facebook.com/" data-index="0" class="historyLink">
  <div style="background-color: #5267a2;color:#fff;background-image:url(https://cdn.cliqz.com/brands-database/database/1452759183853/logos/facebook/$.svg); text-indent: -10em;" class="cliqz-brand-logo">Fa</div>
  <div class="title">{{model}}</div>
  <button class="close" {{action "remove"}}>X</button>
</a>
