<div id="search-icon"></div>
<input {{action "focus" on="focusIn"}}
       {{action "blur" on="focusOut"}}
       id="urlbar"
       placeholder="Search or enter address"
       autocomplete="off"
       tm-click="search-bar" />